### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

In [ ]:
name = "Kumar Rajamoni"
fname = "రామ్"
lname = "కృష్ణుడు"
greet = "नमस्ते"

print(name)

print(fname +" "+lname)

print(greet)

In [ ]:
# chr(number) -- character.
# ord(character) -- number

print(ord("a")) 
print(ord("न"))
print(ord("&"))

In [ ]:
print(chr(2344))
print(chr(97))

In [ ]:
# binary --> 0b 
# octal --> 0o
# hexdecimal --> 0x

In [ ]:
# bin() hex() oct()

print(bin(10)) #1010

In [ ]:
print(hex(16))

In [ ]:
print(oct(16))

In [ ]:
a = 0x10
b = 0o20
print(a+b)
print(bin(a+b))

In [ ]:
name = "Kumar"

print(name, type(name) , id(name))

In [ ]:
salary = 1009.289
print("Variable value:", salary, "Type:", type(salary), "ID:", id(salary))

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep =  ' ' : used when more than one value is printing
    - end = '\n' : used when we want to print new line
    - file = sys.stdout : monitor/screen/console 
    - flush = Flase

In [ ]:
print('kumar rajamoni &#^* 28003 kjskj') #strings --> group of character(letter(a-zA-Z,symbol,numbers(0-9))

In [ ]:
print('Hii Hey')

In [ ]:
print("Jan session")

In [ ]:
print("""Python Session
Jan 
Discussing 
Python print() 
method""")

In [ ]:
print('''Python Session
Jan 
Discussing 
Python print() 
method''')

In [ ]:
' hello ' 

"hello woorld"

""" hello python
    am learning new concept
    today 
"""

''' 
python syntax 
is very easy 
'''

In [ ]:
# It's a book

print('It's a book')
print("today is "good" day")

In [ ]:
print("It's a book")

In [ ]:
print(""" today is "good" day """)

In [ ]:
print('''It's "a" boook''') #It's a book

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
# datatype varName = value;
int age = 26;
float salary = 1282.3793
String name = "Kumar"

#static type , java , c , c++
#they are fixed size

In [ ]:
count = 92233720368547758087777777777999999999999999999999999999977777777788888888888888888888888888888887777777777777777777777777777777777777
print(count)

In [ ]:
#var_name = value 

name = "Kumar" #str
role = "SDE"   #str
age = 45       #int

print(name) #print the variable3937929u93unIH#Y*#
print(role)
print(age)
print(type(name)) # will display the datatype of a variable
print(type(age))

In [ ]:
print(name)
print(role)
print(age)

# 100 variables? -- 100 print

In [ ]:
print(name,age,role)

In [ ]:
print(name,age,role,sep=" : ")

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,name,sep = ",")

In [ ]:
# end = "\n"

for i in range(0,5):
    print(i+i)

In [ ]:
#end= "\n"
for i in range(5):
    print(i, end ="->")

In [ ]:
#file=sys.stdout -->  screen /monitor

s = open("march.txt",mode="a") #append mode

print("Hey Hi Introduction to python", file = s)

In [ ]:
print()

In [ ]:
' '

In [ ]:
name = "kumar"
course = "python full stack"
duration = 3

print(name,course,duration,sep='\n')

In [ ]:
a = 10
b = 30

print(a,end=" ")
print(end="->")
print(b)

In [ ]:
a = print("hello")
print(a)

In [ ]:
print(print("hello"))

In [ ]:
help(print())

In [ ]:
#  storing print() calling  in variable
a = print("Hi") #calling
print(a)


print(print("hello"))

In [ ]:
#Very function in Python by default they have to return some value , 

#if they don't return any values, interpreter will return None value.



# print() method by default it will not return any value , interpreter will return None

In [ ]:
def greet():
    print("hello kumar")
    return 30

In [ ]:
r = greet() #calling
print(r)

In [ ]:
print(greet())

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)

In [ ]:
fun(10,20)

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

In [ ]:
a = 10
b = 20
add = a+b

country = "india"
age = 28

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
name = "kumar"

print(type(name))

In [ ]:
studentMarks = [10,20,30,37]
print(studentMarks)

In [ ]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

In [ ]:
break = 10#invalid

In [ ]:
_if ="kumar"
print(while1)

In [ ]:
_ = "kumar"
__ = 10

print(_)
print(__)

In [ ]:
print("Hello world")

### Styling cases
    - Pascal Case 
        - Every letter will be capital
          used for classes
        ex: StudentName
        
    - Camel case
           Every Second Seq letter will be captial
           we use for functions
        ex: numOfStudents
        
        
    - Snake Case
        - join with _ underscore
        - used for variables

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
name = "Kumar"
print("my name is",end=" ")
print(name)

In [ ]:
name = "Kumar"
print("my name is: ",name)

In [ ]:
name = "Kumar" #3.6+
print(f"my name is {name}")

In [ ]:
name = "kumar"
age = 56
# I'm kumar and am 56 years old

In [ ]:
print("I'm ",name,"and am",age,"years old") #basic

In [ ]:
print(f"i'm {name} and am {age} years old") #3.6

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
num = {}
print(num)
print(type(num))

In [ ]:
a = 10
b = 10.2
c = "python"
d = 1+7j 

print(a , type(a))
print(b, type(b))
print(c , type(c))
print(d, type(d))

In [ ]:
print(first_name, type(first_name) , id(first_name))

In [ ]:
print(type(first_name))

print(type(age))

print(type(skills))

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = "Kumar"
print(age , type(age))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = 10 #static declaration
print(age)

In [ ]:
# dynamic declaration.
age = input('Enter AGE: ') #read data(int,float,bool,complex) in str format

In [ ]:
print(age , type(age))

In [ ]:
salary = input('Enter a salary: ')
print(salary , type(salary))

In [ ]:
print(type(45.5))

print(type("45.5"))

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

In [ ]:
print("10"+"20")
print("Hi"+"Java")

In [ ]:
age = input('enter a age: ')

print(age , type(age))

age = int(age) #string - int

print(age , type(age))

In [ ]:
age = int(input("Enter the age: "))
print(age,type(age))

In [ ]:
num1 = int(input("Enter num1: ")) #string --> int using int()
num2 = int(input("Enter num2: "))

print(num1 + num2)

In [ ]:
a = int(input("enter a value: "))
print(a)

In [ ]:
print(int("11879797"))

In [ ]:
print(int("67g"))

In [ ]:
salary = input("Enter the salary")

salary = float(salary) #casting str---> float
print(salary , type(salary))

In [ ]:
score = input()

score = int(score) ##str -- int

print(score, type(score))

In [ ]:
age = int(input("Enter the age: "))
print(age, type(age))

In [ ]:
#prebuild 
    int()
    float()
    str()
    list() , tuple() , set() , dict() , bool() , complex()

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.)

In [ ]:
University = input("Enter the name of university")
print (University , type (University),id (University))
university_courseduration = int(input("enter course duration: "))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_courseduration = int(input("enter course duration: "))
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type (name) ,id(name))
print(address , type(address) ,id(address))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))
messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

In [4]:
grades = ['A','A+','C','C+','B','B']  #ordered collection , mutable (we change data at locations)
print(grades)
print(grades[1])

grades[3] = "D"

print(grades)

print(grades[10])

['A', 'A+', 'C', 'C+', 'B', 'B']
A+
['A', 'A+', 'C', 'D', 'B', 'B']

IndexError: list index out of range

In [ ]:
countries = ['Finland','Estonia', 'Sweden','Norway',"Finland"]
print(countries[0])
print(countries[1])
countries[2] = "INDIA" #mutability
print(countries)

In [6]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury',"Venus") #read only
print(planets)
print(planets[0])
print(planets[5])

planets[5] = "Pluto" #immutable 
print(planets)

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury', 'Venus')
Earth
Saturn

TypeError: 'tuple' object does not support item assignment

In [ ]:
studentNames = ("Srimanoj","Prakash","Muneendra","Vamshi","vishnu") # length = 5 , indexes : 0-4
print(studentNames)
print(studentNames[2])
print(studentNames[-5])

In [ ]:
studentNames[0] = "Srimanoj"

In [8]:
colors = {"red","blue","red","yellow","orange","yellow"} #unordered collection stores unqiue elements.

print(colors)

print(colors[0]) #why? --> unordered so we can't apply indexing

{'yellow', 'orange', 'red', 'blue'}

TypeError: 'set' object is not subscriptable

In [9]:
# {k1:v1 , k2:v2 , k3: v3 .... kn:vn}

student = {
        "studentname" : "kumar",
        "college" : "FG University",
        "fee" : 109903.389,
        "branch" : "DS"
}

print(student , type(student))

{'studentname': 'kumar', 'college': 'FG University', 'fee': 109903.389, 'branch': 'DS'} <class 'dict'>

In [10]:
indianTeam = {
'cricketTeamName':'India',
'Captain':'RS',
'country':'India', 
'year':2022, 
'is_top20':True,
'Players':['Virat', 'Rohit', 'Bhu', 'Python']
}

In [11]:
print(indianTeam , type(indianTeam))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [12]:
print(indianTeam['year']) # variable['key']

2022

In [25]:
print(indianTeam['Players'][0])

Virat

#### INDEXING SUPPORTED Datatypes
- list
- tuple
- str

#### Index not supported Datatypes
- set
- dictionary

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [1]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

-1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 <class 'int'>

In [2]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

1029
<class 'int'>

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7   6  5  4  3  2 1 0 
values:     128 64 32 16 8  4 2 1

In [ ]:
print(bin(117))

In [3]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

15

In [5]:
print(bin(10)) #convert any decimal -- binary 
print(bin(5))

0b1010
0b101

In [6]:
c = 0o10
d = 0b100

print(c+d)

12

In [7]:
print(oct(8)) #any decimal - octal

0o10

In [8]:
e = 0xA
f = 0xB


print(e+f)

21

In [9]:
print(hex(15))

0xf

### Float 
    - any decimal points is considered as float datatypes

In [10]:
floatVar = 1.0

print(floatVar , type(floatVar))

1.0 <class 'float'>

In [ ]:
* -- multiplication
** -- expo / power

In [12]:
print(10*3)
print(10**3)

30
1000

In [13]:
# ex: 10.5*10^5

a = 10.5*(10**5)

print(a)

1050000.0

In [14]:
b = 10.5e5 # e 10^n

print(b)

1050000.0

In [16]:
print(3e-3)

0.003

### Strings 
    - collectional of charcaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - mutlipline strings

In [17]:
singleQ = 'Hello'
print(singleQ)

Hello

In [20]:
a = 'It's a book'

print(a)

SyntaxError: unterminated string literal (detected at line 1) (56061037.py, line 1)

In [21]:
b = "It's a book"

print(b)

It's a book

In [22]:
c = "python is "oops" language"

print(c)

SyntaxError: invalid syntax (528229998.py, line 1)

In [25]:
c = ""python is "oops" language""

print(c)

SyntaxError: invalid syntax (3555895725.py, line 1)

In [24]:
d = """python is oops
and functional
language"""

print(d)

python is oops
and functional
language

In [ ]:
d = '''python is oops
and functional
language'''

print(d)

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [26]:
comVar = 6+8j

In [27]:
print(comVar , type(comVar))

(6+8j) <class 'complex'>

In [32]:
print(dir(()))

# {} --> dictionary

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [33]:
print(dir(comVar))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [36]:
print(comVar.imag) #attributes

8.0

In [37]:
print(comVar.real)

6.0

In [40]:
print(comVar.conjugate()) #inverse of sign

(6-8j)

In [42]:
comVar.conjugate().conjugate().conjugate().conjugate()

(6+8j)

In [ ]:
a=10
b=20
a+b
a-b

### Boolean
    - True or False values consider as boolean

In [44]:
bol_var = True
bol_var2 = False

print(bol_var + bol_var2)

print(bol_var * bol_var2)

1
0

In [45]:
a = 10
a = a+13.0
print(type(a))

<class 'float'>

In [50]:
num = 10101000101

print(type(num))
#convert to string 
num = str(num) # interger --> string

print(type(num))

# print(dir(num))

print(num.count("1"))

<class 'int'>
<class 'str'>
5

In [52]:
num = 10101000101
num = str(num)
print(num.count("0"))

6

In [ ]:
marks = [10,20,30,30,303,20]
salary = [10.2,20.2,20.2]

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [53]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

[0, 1, 2, 3, 4, 5] <class 'list'>

In [54]:
print(len(fruits))

4

In [55]:
# accessing VarName[index]  
print(fruits)

print(fruits[2])

['Banana', 'Orange', 'Mango', 'Avocado']
Mango

In [57]:
print(fruits[4])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

IndexError: list index out of range

In [59]:
name = "V i r k a t R C B".split()
print(name)


print(name[0])
print(name.index("R"))
n = len(name)
print(n)
print(name[n-1])
print(name[-1])
print(name[-2])
print(name[-20])

['V', 'i', 'r', 'k', 'a', 't', 'R', 'C', 'B']
V
6
9
B
B
C

IndexError: list index out of range

In [60]:
print(fruits[3])

Avocado

In [61]:
n = len(fruits)

print(fruits[n-1])  #n-1 is the last location

Avocado

In [62]:
print(fruits[-1])

Avocado

In [63]:
print(fruits[-10])

IndexError: list index out of range

In [64]:
print(fruits[-4])

Banana

In [65]:
print(fruits)

['Banana', 'Orange', 'Mango', 'Avocado']

In [66]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

['Banana', 'Orange', 'Mango', 'pineapple']

In [69]:
fruits[3] = "cherry"
print(fruits)

['Banana', 'Orange', 'Mango', 'cherry']

In [70]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

['Banana', 10, False, 9.81]
False
9.81
<class 'str'>

In [71]:
print(type(fruits))

<class 'list'>

In [72]:
# attributes and methods 

print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..])
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [73]:
print(dir([]))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [77]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)

countries.append("USA","AUS") #error
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']

TypeError: list.append() takes exactly one argument (2 given)

In [78]:
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']

In [79]:
#insert(indNum,obj)

countries.insert(0,"Indo")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India']

In [80]:
countries.insert(-1,"Pak")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India']

In [81]:
print(len(countries))
print(countries[-7])

7
Indo

In [84]:
countries.insert(-1000,"Cuba")
print(countries)

['Cuba', 'Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'AUS', 'AUS']

In [87]:
# extend([obj1,obj2..])

countries.extend(["Russai","Seria"])

print(countries)

['Cuba', 'Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'AUS', 'AUS', 'Swiz', 'Cuba', 'Russai', 'Seria', 'Russai', 'Seria']

In [89]:
a = print("Hello")
print(a)

print(print("hi"))

Hello
None
hi
None

In [102]:
print(countries)

['Cuba', 'Indo', 'Finland', 'Pak', 'India', 'AUS', 'AUS']

In [97]:
# pop()
r = countries.pop() #pop() will remove and return the popped element
print(r)

Swiz

In [103]:
print(countries.pop(30)) # give only valid locations

IndexError: pop index out of range

In [104]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [106]:
num = [1,222,30,420]
num.pop(20)

IndexError: pop index out of range

In [108]:
# remove()
print(countries)
countries.remove("AUS")
print(countries)

['Cuba', 'Indo', 'Finland', 'Pak', 'India', 'AUS', 'AUS']
['Cuba', 'Indo', 'Finland', 'Pak', 'India', 'AUS']

In [109]:
res = countries.remove("AUS")
print(res)

None

In [110]:
print(countries)

['Cuba', 'Indo', 'Finland', 'Pak', 'India']

In [114]:
res1 = countries.pop()
print(res1)

Indo

In [115]:
print(countries)

['Cuba']

In [119]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

r1 = names.pop() #default : -1 
print(r1)
print(names)

r2 = names.remove("Kumar") #not returning any value
print(r2)
print(names)

Lavanya
['Prakash', 'Manoj', 'Kumar']
['Prakash', 'Manoj']

In [ ]:
r1 = object.method()  # if returning any value

In [ ]:
object.method() # if doesn't any value

In [122]:
names = ["Prakash","Manoj","Kumar","Lavanya"]

In [123]:
# reverse()
names.reverse()

print(names)

['Lavanya', 'Kumar', 'Manoj', 'Prakash']

In [125]:
# sort()
names.sort()
print(names)

['Kumar', 'Lavanya', 'Manoj', 'Prakash']

In [127]:
lst = "K u m a r R a J A m o n i".split() #str - list
print(lst)


lst.sort()

print(lst)

##ascii

print(ord("a") , ord("A"))

['K', 'u', 'm', 'a', 'r', 'R', 'a', 'J', 'A', 'm', 'o', 'n', 'i']
['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
97 65

In [129]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [130]:
print(lst)

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']

In [131]:
# count() - display the occurence of a data element.

print(lst)

print(lst.count("a"))

print(lst.count("z"))

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
2
0

In [132]:
# index() - return the index number of a data element.

print(lst.index("a")) #return the fist index

4

In [134]:
print(lst.index("o"))

10

In [135]:
# clear()
nums = [10,203,40]
print(nums)
nums.clear()
print(nums)

[10, 203, 40]
[]

In [136]:
nums = [10,203,40]
print(nums)
del nums #removes from memory 
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [ ]:
# copy()

copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

In [ ]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

In [2]:
names = ["Meena","Avinash","Srikanth","Prakash"]

students = names #alias copying

print(id(names) , id(students))

students[0] = "Kumar"

print(names , students)

2227192069376 2227192069376
['Kumar', 'Avinash', 'Srikanth', 'Prakash'] ['Kumar', 'Avinash', 'Srikanth', 'Prakash']

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [13]:
planets = ('Earth',"Venus", 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [4]:
print(planets , type(planets))

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'>

In [5]:
print(planets[2])

Neptune

In [6]:
print(planets[-1])

Mercury

In [7]:
print(planets[-100])

IndexError: tuple index out of range

In [8]:
planets[1] = "Pluto" #error

TypeError: 'tuple' object does not support item assignment

### tuple methods
    - count()
    - index()

In [9]:
print(dir( () ))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [10]:
planets.count("Mars")

1

In [11]:
planets.count("Aplha")

0

In [15]:
planets

('Earth',
 'Venus',
 'Jupiter',
 'Neptune',
 'Mars',
 'Venus',
 'Saturn',
 'Uranus',
 'Mercury')

In [16]:
planets.index("Venus")

1

In [17]:
planets.index("Pluto")

ValueError: tuple.index(x): x not in tuple

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [18]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Bang', 'Eng', 'Sa', 'Aus', 'Ind', 'Pak'}

In [19]:
print(teams[0]) #error set' object is not subscriptable

TypeError: 'set' object is not subscriptable

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [20]:
print(type( [] ))
print(type( () ))
print(type( {} ))
print(type( set() ))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [22]:
print(dir( set() ))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [23]:
print(teams)

{'Bang', 'Eng', 'Sa', 'Aus', 'Ind', 'Pak'}

In [26]:
teams.add("Zimb") #add data to the set.

In [27]:
print(teams)

{'Bang', 'Eng', 'Sa', 'Aus', 'Ind', 'Zimb', 'Pak'}

In [28]:
teams.discard("USA") #no element no  error 
print(teams)

{'Bang', 'Eng', 'Sa', 'Aus', 'Ind', 'Zimb', 'Pak'}

In [29]:
teams.remove("Bang") #no element will throw error
print(teams)

{'Eng', 'Sa', 'Aus', 'Ind', 'Zimb', 'Pak'}

In [30]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [31]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [32]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [33]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

{'netflix', 'amazon', 'apple', 'google'}
{'netflix', 'amazon', 'apple', 'google'}

In [34]:
# intersection
print(x.intersection(y)) #common elements

{'apple', 'google'}

In [41]:
print(x)

set()

In [42]:
print(x.pop())

KeyError: 'pop from an empty set'

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [46]:
a = {"iphone12","iphone13","iphone14"}
b = {"ipad9gen","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

True

In [48]:
c = {"iphone13","iphone15"}

print(c.issubset(a))

False

In [49]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]

print(len(lst))

7

In [50]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

{10, 20, 30} 3

In [51]:
seta = {10,20.2,"kumar",True,10+2j,None}

print(seta)

{(10+2j), True, 20.2, 10, None, 'kumar'}

In [52]:

studentName = []
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
print(studentName)

enter student-namemanoj
enter student-nameprakash
enter student-namekumar
enter student-namejohn
['manoj', 'prakash', 'kumar', 'john']

In [53]:
studentName.insert(0,input("enter name"))

enter nameDeepthi

In [54]:
print(studentName)

['Deepthi', 'manoj', 'prakash', 'kumar', 'john']

In [55]:
studentName.extend([input("enter student-name"),input("enter student-name"),input("enter student-name")])
print(studentName)

enter student-namemeena
enter student-namemonica
enter student-nameradha
['Deepthi', 'manoj', 'prakash', 'kumar', 'john', 'meena', 'monica', 'radha']

In [58]:
# remove the last student name
n = len(studentName)
print(n)

removeStud = studentName.pop()

print(removeStud, studentName)

7
monica ['Deepthi', 'manoj', 'prakash', 'kumar', 'john', 'meena']

In [60]:
# remove specific student name
studentName.remove("kumar")

In [61]:
print(studentName)

['Deepthi', 'manoj', 'prakash', 'john', 'meena']

In [62]:
# sort all names

studentName.sort(reverse=True)

print(studentName)

['prakash', 'meena', 'manoj', 'john', 'Deepthi']

In [65]:
print(ord("p"),ord("D"))

112 68

In [68]:
name = "Kumar"

print(len(name))
print(name[0])
name[0] = "k"

print(name)

5
K

TypeError: 'str' object does not support item assignment

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [78]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python']
    }

print(team , type(team))

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [79]:

print(type(10))

print(type("kumar"))

print(type([]))

print(type( () ))


print(type(set()))

print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [80]:
team

{'cricketTeamName': 'India',
 'Captain': 'RS',
 'country': 'India',
 'year': 2022,
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [81]:
team[0]

KeyError: 0

In [83]:
team["country"]

'India'

In [84]:
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [85]:
print(team['country'])

India

In [87]:
print(team["Captain"])

RS

In [88]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [94]:
print(team['ipl_captain'])

KeyError: 'ipl_captain'

### methods

In [95]:
#get()
print(team.get('ipl_captain'))

None

In [96]:
print(team["ipl_captain"]) #fastest

KeyError: 'ipl_captain'

In [101]:
print(team.get("YEAR","key not there"))

key not there

In [ ]:
["keyname"] --> always should be valid key otherwise raise keyerror
.get("keyname") --> if key is invalid it will print None or some text

In [102]:
#keys()

print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [103]:
#values()
print(team.values())

dict_values(['India', 'RS', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [104]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'RS'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [105]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [107]:
team.update({"year":"2024"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'RS', 'country': 'India', 'year': '2024', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [110]:
team.update({"Captain":"KL Rahul"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': '2024', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'ipl_score': '929928'}

In [111]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'year': '2024', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'ipl_score': '929928'}

In [112]:
res = team.pop("year")

print(res)

2024

In [113]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'ipl_score': '929928'}

In [118]:
print(team.popitem()) #always remove last (k,v)

('is_top20', True)

In [119]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'KL Rahul', 'country': 'India'}

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalid key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry(k,v)

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [5]:
lst = {10,203,20} 

# print(dir(lst))
print(type(lst))

<class 'set'>

In [6]:
print(sum(lst))
print(max(lst))
print(min(lst))

233
203
10

In [7]:
print(help(lst))

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [8]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

<class 'str'>
<class 'int'>
<class 'dict'>
2546442449264 2546361500176 2546442311168

In [ ]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

In [9]:
a = 10,20,304,40
print(type(a))

<class 'tuple'>

In [13]:
names = "kumar","prakash","manoj"

print(type(names))
print(names)

<class 'tuple'>
('kumar', 'prakash', 'manoj')

In [14]:
#dir()
print(dir([]))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
#  sum()

marks = [10,20,30]

print(sum(marks))

60

In [17]:
#max() min()

print(max(marks))

print(min(marks))

30
10

In [22]:
print(marks)
print(person)

[10, 20, 30]
{'name': 'Ram', 'course': 'Python', 'collge': 'ABC'}

In [20]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

3
12
3

TypeError: object of type 'int' has no len()

In [23]:
print(a)

(10, 20, 304, 40)

In [24]:
print(ord("H"),ord("i"))

72 105

In [25]:
print(chr(97) , chr(105))

a i

In [ ]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

In [ ]:
# datatype prebuild method
int - int()
float - float()
str - str()
bool - bool()
complex - complex()

list - list()
tuple - tuple()
set - set()
dictionary - dict()

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.

In [ ]:
# range(start,stop,step)

In [27]:
a = range(1,10,1)
print(a , type(a))

range(1, 10) <class 'range'>

In [28]:
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
print(list(range(0,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
print(list(range(1,20,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
a = tuple(range(0,5,1))

print(a)

(0, 1, 2, 3, 4)

In [37]:
a = list(range(1,10,2))

print(a)

[1, 3, 5, 7, 9]

In [38]:
a = list(range(-1,-5,-1))

print(a)

[-1, -2, -3, -4]

In [39]:

a = list(range(5)) #range(0,5,1)


print(a)

[0, 1, 2, 3, 4]

In [40]:
a = list(range(1,2))

print(a)

[1]

In [41]:
a = list(range(0,20,2))

print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
a = list(range(1,20,2))

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [43]:
list(range())

TypeError: range expected at least 1 argument, got 0

In [44]:
list(range(1,1))

[]

In [ ]:
# next value < stop

In [45]:
list(range(-1,5,1))

[-1, 0, 1, 2, 3, 4]

In [47]:
list(range(-1,-5,1))

[-1, -2, -3, -4]

In [55]:
list(range(3,20,0))

ValueError: range() arg 3 must not be zero

In [54]:
list(range('a','z',0))

TypeError: 'str' object cannot be interpreted as an integer

In [58]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [61]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

10
20
1020

In [62]:
print("10"+"20")

1020

In [64]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

2.5
6
8.5

In [65]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10' 
print('num_int', int('10'))      # 10
print('num_float', float(num_str))  # 10.0

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_int 10
num_float 10.0
Kumar
['K', 'u', 'm', 'a', 'r']

In [68]:
firstname = "kumar rajamoni".split()

print(firstname)

['kumarrajamoni']

In [69]:
name = "Kumar Python Tutor"

print(name.split())

['Kumar', 'Python', 'Tutor']

In [76]:
a = "A B C".split() # str -- list 

print(a)

['A B C']

In [70]:
# str - int
stra = "10"

print(int(stra))

10

In [71]:
strb = "289892.282"

print(float(strb))

289892.282

In [ ]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

In [79]:
num = 10
print(float(num)) #10.0

num1 = "10.5"

print(float(num1))
print(int(float(num1)))

letters= ["a","b",'c','a','e','b']
print(letters)
print(set(letters))

10.0
10.5
10
['a', 'b', 'c', 'a', 'e', 'b']
{'e', 'b', 'a', 'c'}

In [ ]:
# int - float 
    float()
    
# float - int 
    int()
    
# str - int (str must be in valid decimal 0-9 format)
    int()
    
#str - float (str must be in valid format)
    float()

In [84]:
print(float("10.6k"))

ValueError: could not convert string to float: '10.6k'

In [ ]:
# list - tuple
    tuple()
    
# list - set 
    set()

In [85]:
names = ["kumar","prakash","manoj"]


# not possible

# list -- dict
# tuple -- dict
# set - dict
print(dict(names))

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [ ]:
#  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905
    op: 3 
    1234568791
    op: -1

In [98]:


# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

print(number.count('0'))
# appling the method
if number.count('0') > 0:
    print("number of zeros : ",number.count('0'))
    
print(-1)

any 10digit  number : 1089300
1089300
3
number of zeros :  3
-1

6

In [95]:
if 0>0:
    print("if statment")
else:
    print("else statement")

else statement

In [ ]:
if condition:
    body
else:
    body

## Strings 
- group of individual or collections of characters
- strings are immutable in python
- Strings have indexing
      +ve : 0 - N-1
      -ve : -1 --> -N
- String supports slicing also.
- In Python Strings can be declared in 3 ways:
        - single quotes  'k'
        - double quotes   "dyamic programmic"
        - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

In [ ]:
print(type("Hello"))
"10"
"10.22"
"True"
print(type("[10,203,30]"))

# anything inside quotes is a string

#### Creating a String

In [1]:
letter = 'P'               # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course"
print(sentence)
print(len(sentence))

P
1
Hello, World!
13
I hope you are enjoying  Python Course
38

In [5]:
print(ord("B"))

# characters --> letters , symbols, numbers,regional letters

66

In [6]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course.

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [7]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

Helsinki Money Heist
8
11
False
20

### Try this . 
- print(first_name + " age  "+40)
- print("Hi "*10)
- print("Hi"*"Hello")

In [15]:
print(first_name + " age "+ 40.3)
# str+str
# str + int or int+str ---> Error

TypeError: can only concatenate str (not "float") to str

In [3]:
print("Hi "*10)
print(5*" hello")

# int*str 
# str * int 

#  str*str ---> Error

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi
 hello hello hello hello hello

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [16]:
print("Hello \n Welcome to Srikanth's \t Home")

Hello
 Welcome to Srikanth's 	 Home

In [18]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1 \t2 \t8')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t6\t18')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1 	2 	8
Day 2	3	5
Day 3	3	5
Day 4	6	18
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

In [29]:
# It's good movie 

print('It\'s a \"good\" movie')
print("It's a good movie")

It's a "good" movie
It's a good movie

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [ ]:
# c syntax
int age = 29;
float salary = 29.28228773793;
printf("%d %f ",age,salary)

In [32]:
name = input("Enter name: ")
age = int(input("Enter the age: "))
salary = float(input("Enter salary: "))

Enter name: ram
Enter the age: 45
Enter salary: 8989.38993

In [33]:
print("my name is ",name, "age is ",age,"my salary is",salary) #normal 

print("my name is %s , age is %d , my salary is %.2f"%(name,age,salary)) #c based formatting

my name is  ram age is  45 my salary is 8989.38993
my name is ram , age is 45 , my salary is 8989.39

In [35]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 10.283893
formated_string = 'I am %s %s. I teach %s and fee is %.2f' %(first_name, last_name, language,fee)
print(formated_string)

# Strings  and numbers
radius = 7
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)


python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

I am Kumar R. I teach Python and fee is 10.28
The area of circle with a radius 7 is 153.86.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

#### New Style String Formatting (str.format)

In [37]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000

print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+str(fee))

I am Kumar R. I Teach Pythonand fee is 12000

In [40]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000.7677576
formated_string = 'I am {} {}. I teach {} and fee is {:.3f}'.format(first_name, last_name, language,fee)
print(formated_string)


# print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+fee)

a = 4
b = 3

print('{0} + {1} = {2}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Kumar R. I teach Python and fee is 12000.768
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

#### f-string

In [41]:
print("Iam %s %s. I Teach %s and fee is %d"%(first_name, last_name, language,fee))

Iam Kumar R. I Teach Python and fee is 12000

In [42]:
print('I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee))

I am Kumar R. I teach Python and fee is 12000.7677576

In [48]:
print(f'Iam {first_name} {last_name}. I teach {language} and fee is {fee}')

Iam Kumar R. I teach Python and fee is 12000.7677576

In [51]:
name = "Kumar"
age =18

print("my name is %s , age is %d" %(name,age))
print(f'my name is {name} , age is {age}')

my name is Kumar , age is 18
my name is Kumar , age is 18

In [52]:
#### Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [53]:
age = 19
print(f"my age is {age}")

my age is 19

In [11]:
trainerName = "kumar"
fee = 12000.2637638
# c based formatting 
print("My name is %s and fee = %.2f"%(trainerName,fee))

# 2. String.format() 
print("My name is {} and fee = {:.2f}".format(trainerName,fee))

# 3. F String (3.6+)
print(f"My name is {trainerName} and fee = {fee}")

My name is kumar and fee = 12000.26
My name is kumar and fee = 12000.26
My name is kumar and fee = 12000.2637638

In [ ]:
# STRING is a collection and ordered and indexed datatypes

In [55]:
name = "Alex"
print(name)
print(len(name))

# 0th index data
print(name[0])

# last index character
print(name[-1])

Alex
4
A
x

In [57]:
print(name[-10])

IndexError: string index out of range

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--A7oqOWqx--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/1wr90mjnil60r7226bgq.png" width="400" height="400">

In [62]:
language = 'Python'
first_letter = language[0]
print(first_letter) 

second_letter = language[1]
print(second_letter) 

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter)

P
y
n

In [59]:
language = 'Python'

last_letter = language[-1]
print(last_letter) 

second_last = language[-2]
print(second_last)

n
o

In [60]:
print(language[6])

IndexError: string index out of range

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    negative:
         - start : -1 (default)
        - stop : -LEN-1
        - step : - 1 
    
    
    note: STOP is exculsive not included

In [73]:
# [start:stop:step]
name = "Chennai Super Kings"

print(len(name))

print(name[0])

print(name[-1])

print(name[0:4:1])

print(name[:6]) 

print(name[2:])

print(name[-1:-5:-2])

print(name[::2]) #[0:19:2]

print(name[-1 : -len(name)-1 : -1]) #[-1:-20 :-1]

print(name[::-1])  #[-1: -LEN-1 : -1]


print(name[::]) #[0:19:1]

print(name[::2])

19
C
s
Chen
Chenna
ennai Super Kings
sn
CeniSprKns
sgniK repuS iannehC
sgniK repuS iannehC
Chennai Super Kings
Chennai Super Kings

In [76]:
lang = "Python"

print(lang[0])
print(lang[-1])
print(lang[0:4:1])
print(lang[-1:-4:-1])
print(lang[::2])
print(lang[2:])
print(lang[:3])
print(lang[:4])
print(lang[::-1])
print(lang[::1])
print(lang[::])

P
n
Pyth
noh
Pto
thon
Pyt
Pyth
nohtyP
Python
Python

In [79]:
print(lang[:40])

Python

In [80]:
marks = [10,203,30]

marks = marks[::-1]

print(marks)

[30, 203, 10]

In [81]:
name = "Kumar"
# for loop /while loop
# methods
# slicing

print(name[::-1]) #reverse

teamNames = ["india","Pak","Aus"]

print(teamNames[::-1])

ramuK
['Aus', 'Pak', 'india']

In [90]:
# slicing
print(name[::-1])

# method 
print("".join(reversed(name)))

# for loop 
name = "Kumar"
for i in range(-1,-len(name)-1,-1):
    print(name[i],end="")

ramuK
ramuK
ramuK

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [13]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [14]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'

print(challenge.capitalize()) # 'Thirty days of python'
print(challenge)

Thirty days of python
thirty days of python

In [ ]:
# inplace methods: apply the operation and also change the content of a variable.
# not inplace method : just only applies the operations.

In [15]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2

3
1
2

In [17]:
print(challenge.count(" "))

3

In [18]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [19]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [23]:
print("thirty    days".count(" "))

4

In [24]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [25]:
print(challenge.find("z"))

# task 
# find lastIndex of a character

-1

In [36]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 16
print(challenge.rfind('thanos')) # 17

16
-1

In [38]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.index('y'))  # 7
print(challenge.index(sub_string)) #error

5
7

In [42]:
print(challenge.rindex("y"))
print(challenge.rfind("y"))

16
16

In [ ]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex("y")) # error

In [ ]:
## POSTIVE if ele/character/sub-string is present
find() -- returns lowest index of a sub/character
rfind() ---> Returns highest index of a sub/charcter

index()
rindex()  --> Returns highest index of a sub/charcter


# Negative case , if ele/char/sub is not present

discard() - Nothing
remove() - If ele not there , raise Error


find()/rfind() , if ele/char/sub is not there --> -1
index()/rindex()  , if ele/char/sub is not there ----> Value Error.

In [43]:
challenge = 'thirty days of python'

print(challenge.index("y"))

print(challenge.rindex("y"))


print(challenge.find("y"))

print(challenge.rfind("y"))


print(challenge.index("y",0,6))

print(challenge.rindex("y",0,6))


print(challenge.find("y",0,6))

print(challenge.rfind("y",0,6))

5
16
5
16
5
5
5
5

In [44]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [45]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [46]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [56]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "        KumarRajamoni            "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('python')) # 'irty days of py'

33
13
irty days of

In [59]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace(' ', '-->')) # 'thirty days of coding'

I-->Like-->to-->code-->In-->Python

In [60]:
# upper 

challenge = 'I Like to code In Python' 

print(challenge.upper())


challenge = "i LIKE to CODE ruby"

print(challenge.lower())


print(challenge.title())

print(challenge.swapcase())

I LIKE TO CODE IN PYTHON
i like to code ruby
I Like To Code Ruby
I like TO code RUBY

In [ ]:
# checking methods --> True/False
    - validation

In [ ]:
'a'
"10"
"10.2"
"Kumar@123"

always starts is keyword ---> True/False

In [63]:
# isalnum(): Checks alphanumeric character(a-zA-Z 0-9)

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirtydaysofpython,2019'
print(challenge.isalnum()) # False

True
True
False
False

In [64]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123akkak'
print(num.isalpha())      # False

False
True
False

In [65]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

In [66]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

False
True
True

In [ ]:
special_char = " !@#$%^&*(){}[]"

In [ ]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

In [ ]:
VARIABLS_RULES
=======================
1. starts with letters or _ 
2. can't start with numbers
3. No keywords 
4. we can have combination of alpha+numeric+_
5. case sensitive

In [70]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [68]:
print("*3Java_version".isidentifier())

False

In [71]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [72]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) #str - list

challenge = 'current,version,of,python,3.11'
print(challenge.split(',')) #str --list

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current', 'version', 'of', 'python', '3.11']

In [73]:
name = "Kumar Rajamoni"

print(name.split())

name = "A l e x"
print(name.split())

['Kumar', 'Rajamoni']
['A', 'l', 'e', 'x']

In [77]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = ''.join(web_tech) #list -- str
print(result)

HTML,CSS,JavaScript,React

In [82]:
''.join(web_tech)

'HTMLCSSJavaScriptReact'

In [83]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = '-->'.join(web_tech) #list -- str
print(result)

HTML-->CSS-->JavaScript-->React

In [ ]:
# Try to do revese of a String
    note: don't apply slicing

### Try these?

#### 1. take a string from input/keyword.
 ex: i like to code in python 
    
    1. print length
    
    2. print only spaces counts
    
    3. print only length without spaces
    
    4. print word count
    
    
##### 2. read multiple interger/float values through input() method

In [86]:
score = int(input("enter a score"))
print(score,type(score))

enter a score78 90

ValueError: invalid literal for int() with base 10: '78 90'

In [88]:
data = input("enter the data: ").split()

print(data, type(data))

enter the data: 10 20 30 50
['10', '20', '30', '50'] <class 'list'>

### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/assignment-operator-in-python.png" height="600" width="600">

In [ ]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 rs
price = price - 5 


print(price)

In [ ]:
price = 12

# increase 2rs 
price += 2 #price = price+2

# decrease 5 
price -= 5  #price = price - 5


print(price)

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png" height="700" width="700">

In [ ]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 8 it means 2 * 2 * 2

In [ ]:
# TASK 
How negative modulus 
How negtaive // integer division.

will work?

In [ ]:
print(10%3) # 10 = 3*3+1
print(5%2) # 5 = 2*2+1

In [ ]:
print(-5%2)

In [ ]:
print(-10%3)

In [ ]:
print(10//3)
print(5//2)

In [ ]:
print(-10//3)
print(-5//2)

In [ ]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

In [ ]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

In [ ]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

In [ ]:
print(0/10)  #0/anything --> 0

print(20/0) #anything/0 ---> undefined

In [ ]:
print(10%3)

print(25%2)

print(4%4)

print(50%100)

print(10%0)

In [ ]:
# NOTE : 
1. Numerator<Demo ---> Answer is Numerator
2. Numerator == Demo --> 0
3. Numerator> Demo (get remainder doing division method)
4. Demo == 0 --> Raise Error

In [ ]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

print(density)

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        - can be applied on integers , floats , strings
        
 <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="700" height="700">

In [ ]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

In [ ]:
1. = is used for assignment 
ex: varName = value 

2. == is used for comparision 
ex: 10 ==12

In [ ]:
print(10.2>6.5)

In [ ]:
print('a'>'A')

In [ ]:

print(ord('a') , ord('A'))

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShip Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x not in y)

In [ ]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [ ]:
a = 10
b = 10 
print(a is b)
print(a is not b)

print(id(a) , id(b))
b +=2
print(id(a) , id(b))


c = 30
d = 56

print(c is d)
print(c is not d)

print(id(c) , id(d))

In [ ]:
a = 10 
b = 10

del a
print(b)

In [ ]:
a = [10,20,30]
b = [10,20,30]

print(a is b)
print(id(a), id(b))

In [ ]:
print("Kumar" in "KUmar rajamoni")

In [ ]:
print(10 in [10,20,304,20])
print(100 not in [10,20,304,20,100])

In [ ]:
print("age" in {"name":"John","age":30})
# in operator on dictionary will search only keys

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://1.bp.blogspot.com/-k27I3cNB6zE/XYTAZv3C07I/AAAAAAAAAy0/KobVTHHhCJUVpg7D19HhI4ddrh0IU5GKgCLcBGAsYHQ/s1600/LogicalOperators.png" height="600" width="600" >

In [ ]:
print(type("Kumar"))


print(type(["Kumar","Rajamoni"]))

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [ ]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [ ]:
    
print(bin(25))

In [ ]:
#representing
# 8 bit (0-255)

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 | 2  |1    min =0 max = 255

In [ ]:
# bin() -- gives binary notation value of decimal no.
print(bin(69))
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

In [ ]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
## AND 000

## OR 111

##EXOR 111

## NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

In [ ]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
print(10//(2**2))

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

In [ ]:
print(10*(2**2))

In [ ]:
exp = 10 -20*2
print(exp)

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [ ]:
print(10+20*30/10)

In [ ]:
a = (10+20) * 30/10

print(a)

In [ ]:
a =  2+3*8/2-10**4%2//10

print(a)

In [ ]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

In [ ]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [ ]:
print(200 / 10 * 10)

In [ ]:
print(5 - 2 + 3)

In [ ]:
#right to left
print(2 ** 3 ** 2)

### doubts

In [ ]:
a = 10
b = 10
print(a is b)
del a 
print(b)

In [ ]:
a=10
c = a

# print(a is c)
del a

print(c)
print(a)

In [ ]:
lst = [10,20]

lst2 = lst
print(lst)

del lst
print(lst2)
print(lst)

In [ ]:
a = 10+2j

b = str(a)

print(b,type(b))
print(b[0])

In [ ]:
name = "Kumar"

print(name)

In [ ]:
print(str(a),type(a))

In [ ]:
a = str(a)

print(a,type(a))