### Python 2 Vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

In [ ]:
name = "Kumar Rajamoni"
fname = "రామ్"
lname = "కృష్ణుడు"
greet = "नमस्ते"

print(name)

print(fname +" "+lname)

print(greet)

In [ ]:
# chr()
# ord()

print(ord("a")) 
print(ord("न"))
print(ord("&"))

In [ ]:
print(chr(2344))
print(chr(67))

In [ ]:
# bin() hex() oct()

print(bin(10))

In [ ]:
print(hex(16))

In [ ]:
print(oct(16))

In [ ]:
a = 0b101
b = 0b1000
print(a+b)
print(bin(a+b))

#### Python Syntax

 - A Python script can be written in Python interactive shell or in the code editor. A Python file has an extension .py.
 
##### Python Indentation

- An indentation is a white space in a text. 
- Indentation in many languages is used to increase code readability, however Python uses indentation to create block of codes. - In other programming languages curly brackets are used to create blocks of codes instead of indentation.
- One of the common bugs when writing python code is wrong indentation.

In [ ]:
print('good morning')


# syntax window : SHIFT+TAB

In [ ]:
if condition{
    
    //block code
}


if condition:
    #block of code.
    #block of code2
else:
    #block of else code

In [ ]:
# java
int time = 20;
if (time < 18) {
  System.out.println("Good day.");
} else {
  System.out.println("Good evening.");
}

In [ ]:
# python 

time = 16;
if (time < 18):
    print("Good day.");
    print("Hello")
    #block of scope
else:
    print("Good evening.");
    #block of else

In [ ]:
if 21<20:
    print("lesser")
    print("if block")
#end of if 
else:
    print("greater")
#end of else

In [ ]:
salary = 1909

if salary>1090893:
    print("good salary")
else:
    print("AVG ")

In [ ]:
name = "Kumar"
if name=="Kumar":
    print("IF ELSE")
    print("TRUE")
    if 10>50: #True
        print("nested true")
    else: #False
        print("nested else")
else:
    print("FALSE")

### OUTPUT Function

- It is used to print the information or objects data to the console 

>syntax:


> print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)


- attributes / args
    - value 
    - sep
    - end
    - file 
    - flush

In [ ]:
print('Hello World Python .. ')

In [ ]:
print('Hii Hey')

In [ ]:
print("Jan session")

In [ ]:
print("""Python Session
Jan 
Discussing 
Python print() 
method""")

In [ ]:
print('''Python Session
Jan 
Discussing 
Python print() 
method''')

In [ ]:
print('''It's "a" boook''') #It's a book

In [ ]:
print('Hey Geeks') #string

print(10) #int 0-9

print(10.2) #float

print(1+2j) #complex

print(True) #boolean True False

print([10,20,30,40]) #list

print(("IND","NZ","AUS")) #tuple

print({"blue","yellow","red","blue"}) #set

print({"name":"Kumar","course":"Python","fee":10.23893}) #dictionary

In [ ]:
# datatype varName = value;
int age = 26;
float salary = 1282.3793
String name = "Kumar"

#static type , java , c , c++
#they are fixed size

In [ ]:
#var-name = value 

name = "Kumar" #str
role = "SDE"   #str
age = 45       #int

print(name)
print(role)
print(age)

In [ ]:
print(name,role,age)

In [ ]:
print(name,age,role,sep="-->")

In [ ]:
print(name,age,role,sep=" # ")

In [ ]:
print(name,age,role,sep="\n")

In [ ]:
print(age,name,sep = ",")

In [ ]:
# end = "\n"

for i in range(0,5):
    print(i) #end="\n"

In [ ]:
#end= "\n"
for i in range(5):
    print(i, end = " ")

In [ ]:
#file=sys.stdout -->  screen /monitor

s = open("jan07.txt",mode="a") #append mode

print("Hey Hi Introduction to python",file=s)

In [ ]:
print() #"newline"

In [ ]:
a = 10
b = 30

print(a)
print()
print()
print()
print() #newline because end="\n"
print(b)

In [ ]:
print(value,sep,end,file,flush)

In [ ]:
print("Hello")

In [ ]:
a = print("Hello")
print(a)

In [ ]:
print(print("hello python"))

In [ ]:
b = print()
print(b)

In [ ]:
help(print())

In [ ]:
dir(print)

In [ ]:
#  storing print() calling  in variable
a = print("Hi") #calling


print(a)

In [ ]:
#Very function in Python by default they have to return some value , 

#if they don't return any values, interpreter will return None value.



# print() method by default it will not return any value , interpreter will return NONE by default

In [ ]:
def add(a,b):
    print(a*b)
    return "Kumar"
    #return a+b

r = add(10,20) #calling , when storing in one variable.

print(r)

In [ ]:
print(add(20,30))

In [ ]:
def add(a,b):#declaration
    if a>b:
        return "a is larger"
    else:
        return "b is larger"
    
# add(10,20)
res = add(10,20) #calling
print(res)

In [ ]:
print(print(print("Hi")))

print(print(print()))

### Comments

> Comments are very important to make the code more readable and to leave remarks in our code. Python does not run comment parts of our code. Any text starting with hash(#) in Python is a comment.


####  Single Line Comment

        # This is the first comment
        # This is the second comment
        # Python is eating the world
        
#### Multiline Comment

Triple quote can be used for multiline comment if it is not assigned to a variable

    """This is multiline comment
    multiline comment takes multiple lines.
    python is eating the world
    """

In [ ]:
#single line comment.
var = "kumar" # var declaration 


#multi line comment
def fun(a,b):
    '''
     this is a function which 
     return addition
    '''
    print(a+b)

In [ ]:
fun(10,20)

In [ ]:
#Take new inputs from keyboard
'''
we are learning python 
comments 
single comments 
multiline comments
'''

## Variables

- Variables store data in a computer memory.
>  Mnemonic variables are recommended to use in many programming languages.
- A mnemonic variable is a variable name that can be easily remembered and associated. 
> A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. 

- *A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.*

### Rules

Python Variable Name Rules

    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
    - A variable cannot have same name as Reserved word or KEYWORD.

syntax:
    
    variableName = value 
    
    value = strings : "kumar"
    value = integers : 0-9
    value = float  : 0.0 - 9.9 
    value : boolean : True or False
    value : complex : 1+2j

In [ ]:
# firstname
# lastname
# age
# country
# city
# first_name
# last_name
# capital_city
# _if # if we want to use reserved word as a variable
# year_2021
# year2021
# current_year_2021
# birth_year
# num1
# num2

In [ ]:
# first-name
# first@name
# first$name
# num-1
# 1num
#if 
#True

In [ ]:
student_name = "Kumar Rajamoni"

print(student_name)

In [ ]:
#all KEYWORDS..
import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

In [ ]:
break = 10#invalid

In [ ]:
print = "Kumar" #invalid

In [ ]:
print

In [ ]:
print("Hello world")

### Styling cases
    - Pascal Case 
        - Every letter will be capital
          used for classes
        ex: StudentName
        
    - Camel case
           Every Second Seq letter will be captial
           we use for functions
        ex: numOfStudents
        
        
    - Snake Case
        - join with _ underscore
        - used for variables

In [ ]:

# Variables in Python
first_name = 'Kumar'
last_name = 'Rajamoni'
country = 'India'
city = 'Noida'
age = 25
salary = 60000.09039
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python','JAVA']
person_info = {
   'firstname':'Kumar',
   'lastname':'Rajamoni',
   'country':'India',
   'city':'Hyd'
   }

In [ ]:
name = "Kumar"

print("Name:  ",name)

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

In [ ]:
num = {}
print(num)
print(type(num))

In [ ]:
a = 10
b = 10.2
c = "python"
d = 1+7j

print(a , type(a))
print(b, type(b))
print(c , type(c))
print(d, type(d))

In [ ]:
print(first_name, type(first_name) , id(first_name))

In [ ]:
print(type(first_name))

print(type(age))

print(type(skills))

In [ ]:
age = 35
print(age , type(age))

In [ ]:
age = 67.6
print(age , type(age))

In [ ]:
age = "Kumar"
print(age , type(age))

### INPUT FUNCTION
 - input() used to read data from user or any input device.
 - by default it will read all types of data in STRING format as input.
 

Syntax:
    
   >variable_name = input("Prompt")

In [ ]:
age = 10 #static declaration
print(age)

In [ ]:
# dynamic declaration.
age = input("Enter the age : ") #read data(int,float,bool,complex) in str format

In [ ]:
print(age , type(age))

In [ ]:
print(type(45))

print(type("45"))

In [ ]:
num1 = input("Enter num1: ")
num2 = input("Enter num2: ")

print(num1 + num2)

In [ ]:
print("10"+"20")
print("Hi"+"Java")

In [ ]:
age = input('enter a age: ')

print(age , type(age))

age = int(age) #string - int

print(age , type(age))

In [ ]:
age = int(input("Enter the age: "))
print(age,type(age))

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))

print(num1 + num2)

In [ ]:
a = int(input("enter a value: "))
print(a)

In [ ]:
print(int("11879797"))

In [ ]:
salary = input("Enter the salary")

salary = float(salary) #casting str---> float
print(salary , type(salary))

In [ ]:
score = input()

score = int(score) ##str -- int

print(score, type(score))

In [ ]:
age = int(input("Enter the age: "))
print(age, type(age))

In [ ]:
#prebuild 
    int()
    float()
    str()
    list() , tuple() , set() , dict() , bool() , complex()

In [ ]:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

In [ ]:
## Declare 5 realtime variables and take input from keyboard
# Just print(value , type , memoryID.)

In [ ]:
University = input("Enter the name of university")
print (University , type (University),id (University))
university_courseduration = int(input("enter course duration: "))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))

In [ ]:
name = input("enter the name")
address = input("enter address: ")
university_courseduration = int(input("enter course duration: ")
course_fee = float(input("enter the course_fee"))
is_student = bool(input("Are you a student?True/False"))

print (name , type (name) ,id(name))
print(address , type(address) ,id(address)))
print(university_courseduration , type(university_courseduration) ,id(university_courseduration))
print (course_fee, type(course_fee), id(course_fee))
print(is_student , type(is_student) , id(is_student))

In [ ]:
fifa_winner = input("Enter the winner name")
print(fifa_winner , type(fifa_winner) , id(fifa_winner))

messi_score = int(input("enter messi score: "))

print(messi_score , type(messi_score) , id(messi_score) )

## Data Types
    - Which defines the data and representation of real world data.
    - In python we have various types .
    
    
##### Number
- Integer: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
- Float: Decimal number Example ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
- Complex Example 1 + j, 2 + 4j


##### String
 - A collection of one or more characters under a single or double quote. If a string is more than one sentence then we use a triple quote.

Example:

    'Asabeneh'
    'Finland'
    'Python'
    'I love teaching'
    'I hope you are enjoying the first day of 30DaysOfPython Challenge'


#### Booleans
- A boolean data type is either a True or False value. T and F should be always uppercase.

Example:

    True  #  Is the light on? If it is on, then the value is True
    
    False # Is the light on? If it is off, then the value is False
    
#### List
Python list is an ordered collection which allows to store different data type items. A list is similar to an array in JavaScript.

    Example:

    [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers
    ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)
    ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)
    ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float
    

#### Tuple
 > A tuple is an ordered collection of different data types like list but tuples can not be modified once they are created. They are immutable.
 
 
     Example:
     ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets
     
     
### Set
A set is a collection of data types similar to list and tuple. Unlike list and tuple, set is not an ordered collection of items. Like in Mathematics, set in Python stores only unique items.

        Example:

        {2, 4, 3, 5}
        {3.14, 9.81, 2.7} # order is not important in set
        
        
#### Dictionary
A Python dictionary object is an unordered collection of data in a key value pair format.

    Example:

    {
    'cricketTeamName':'India',
    'Captain':'RS',
    'country':'India', 
    'year':2022, 
    'is_top20':True,
    'Players':['Virat', 'Rohit', 'Bhu', 'Python']
    }

### Integers 
    - any postive or negative whole numbers (-0 ,1 ,9 ,11)

In [ ]:
intVar = -1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

print(intVar, type(intVar))

In [ ]:
intVar2 = 1029
print(intVar2)
print(type(intVar2))

    Binary          0b or 0B  - bin()
    Octal           0o or 0O - oct()
    hexdecimal     0x or 0X  - hex()

In [ ]:
8BIT REPRESENTATION(0-255)
========================

locations : 7   6  5  4  3  2 1 0 
values:     128 64 32 16 8  4 2 1

In [ ]:
print(bin(117))

In [ ]:
a = 0b1010 #10
b = 0b101  #5

print(a+b)

In [ ]:
print(bin(10)) #convert any decimal -- binary

In [ ]:
c = 0o10
d = 0b100

print(c+d)

In [ ]:
print(oct(8)) #any decimal - octal

In [ ]:
e = 0xA
f = 0xB

print(e+f)

In [ ]:
print(hex(15))

### Float 
    - any decimal points is considered as float datatypes

In [ ]:
floatVar = 1.0

print(floatVar , type(floatVar))

In [ ]:
# ex: 10.5*10^5

a = 10.5*(10**5)

print(a)

In [ ]:
b = 10.5e5 # e 10^n

print(b)

### Strings 
    - collectional of charcaters (letters , symbols,numbers)
    - we have 3 notations to represent the strings 
        - single quotes   - 'a' 'hello'
        - double quotes   - "Hello World" 
        - triple quotes   - mutlipline strings

In [ ]:
singleQ = 'Hello'
print(singleQ)

In [ ]:
a = 'It's a book'

print(a)

In [ ]:
b = "It's a book"

print(b)

In [ ]:
c = "python is "oops" language"

print(c)

In [ ]:
c = """python is "oops" language"""

print(c)

In [ ]:
d = """python is oops
and functional
language"""

print(d)

In [ ]:
d = '''python is oops
and functional
language'''

print(d)

### complex numbers 
    - real+imagj
    - real number is optional
    - imag number is mandatory

In [ ]:
comVar = 6+8j

In [ ]:
print(comVar , type(comVar))

In [ ]:
print(dir(""))

In [ ]:
print(dir(comVar))

In [ ]:
print(comVar.imag) #attributes

In [ ]:
print(comVar.real)

In [ ]:
print(comVar.conjugate()) #inverse of sign

In [ ]:
comVar.conjugate().conjugate().conjugate()

In [ ]:
a=10
b=20
a+b
a-b

### Boolean
    - True or False values consider as boolean

In [ ]:
bol_var = True
bol_var2 = False

print(bol_var + bol_var2)

print(bol_var * bol_var2)

In [ ]:
a=10
a = a+13
print(dir(a))

In [ ]:
num = 10101000101

# count num of zeros 
num = str(num) #str-int

print(num.count("1"))

In [ ]:
marks = [10,20,30,30,303,20]
salary = [10.2,20.2,20.2]

### List 
    - It's a collection & ordered & indexed data type
    - It's stores mutliple items in one variable
    - Indexing 
            postive  0 ---> N-1
            negative -1 ---> -N
    - It's Mutable ---> Changes are allowed
    - declared with []
    - stores hemogeneuous & hetrogenous data types
    
    
    syntax:
    
    varName = [data1,data2,....]

In [ ]:
lstNumbers = [0, 1, 2, 3, 4, 5]  # all are the same data types - a list of numbers

print(lstNumbers , type(lstNumbers))


fruits = ['Banana', 'Orange', 'Mango', 'Avocado'] # all the same data types - a list of strings (fruits)


countries = ['Finland','Estonia', 'Sweden','Norway'] # all the same data types - a list of strings (countries)


mixedList = ['Banana', 10, False, 9.81] # different data types in the list - string, integer, boolean and float

In [ ]:
print(len(fruits))

In [ ]:
# accessing VarName[loc]  
print(fruits)

print(fruits[2])

In [ ]:
print(fruits[4-1])

#POSTIVE INDEXING ::: 0 ---> LEN-1

#NEGATIVE  INDEXING : -1 ---> -LEN

In [ ]:
name = "A n i l k u m a r R a j a m o n i".split()
print(name)
print(name[0])
print(name.index("R"))
n = len(name)
print(n)
print(name[n-1])
print(name[-1])
print(name[-2])
print(name[-20])

In [ ]:
print(fruits[3])

In [ ]:
n = len(fruits)

print(fruits[n-1])  #n-1 is the last location

In [ ]:
print(fruits[-1])

In [ ]:
print(fruits[-10])

In [ ]:
print(fruits[-4])

In [ ]:
print(fruits)

In [ ]:
fruits[3] = "pineapple" #mutablity 
print(fruits)

In [ ]:
fruits[4] = "cherry"

In [ ]:
print(mixedList)

print(mixedList[2])

print(mixedList[-1])

print(type(mixedList[0]))

In [ ]:
# attributes and methods 

print(dir(fruits))

### List Method 

    - insertion
         append(obj)
         insert(ind,obj)
         extend([obj1,obj2..]
    - deletion
        pop()
        remove()
    - popular 
        reverse()
        copy()
        clear()
        sort()
        count()
        index()

In [1]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [6]:
countries = ['Finland','Estonia', 'Sweden','Norway']

#append() 

countries.append("India")
print(countries)

countries.append("USA","AUS") #error
print(countries)

['Finland', 'Estonia', 'Sweden', 'Norway', 'India']

TypeError: append() takes exactly one argument (2 given)

In [7]:
#insert(indNum,obj)

countries.insert(0,"Indo")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'India']

In [8]:
countries.insert(-1,"Pak")
print(countries)

['Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India']

In [10]:
print(len(countries))
print(countries[-7])

7
Indo

In [12]:
countries.insert(100,"AUS")
print(countries)

['SPAIN', 'Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'AUS']

In [13]:
# extend([obj1,obj2..])

countries.extend(["Swiz","Cuba"])

print(countries)

['SPAIN', 'Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'AUS', 'Swiz', 'Cuba']

In [14]:
a = print("Hello")
print(a)

Hello
None

In [15]:
print(countries)

['SPAIN', 'Indo', 'Finland', 'Estonia', 'Sweden', 'Norway', 'Pak', 'India', 'AUS', 'Swiz', 'Cuba']

In [16]:
# pop()
res = countries.pop() #pop() will remove and return the popped element
print(res)

Cuba

In [17]:
print(countries.pop(3)) # give only valid locations

Estonia

In [18]:
# 
num = [1,2,3,4]
num.pop()
num.pop()
num.pop()
num.pop()
print(num)
num.pop()

[]

IndexError: pop from empty list

In [20]:
num = [1,222,30,420]
num.pop(20)

IndexError: pop index out of range

In [21]:
# remove()
print(countries)
countries.remove("Norway")
print(countries)

['SPAIN', 'Indo', 'Finland', 'Sweden', 'Norway', 'Pak', 'India', 'AUS', 'Swiz']
['SPAIN', 'Indo', 'Finland', 'Sweden', 'Pak', 'India', 'AUS', 'Swiz']

In [22]:
res = countries.remove("AUS")
print(res)

None

In [25]:
res1 = countries.pop()
print(res1)

Swiz

In [27]:
print(countries)

countries.remove("USA")

print(countries)

['SPAIN', 'Indo', 'Finland', 'Sweden', 'Pak', 'India']

ValueError: list.remove(x): x not in list

In [30]:
lst = []

lst.remove("IND")

ValueError: list.remove(x): x not in list

In [29]:
# reverse()
countries.reverse()

print(countries)

['India', 'Pak', 'Sweden', 'Finland', 'Indo', 'SPAIN']

In [31]:
# sort()
countries.sort()
print(countries)

['Finland', 'India', 'Indo', 'Pak', 'SPAIN', 'Sweden']

In [36]:
lst = "K u m a r R a J A m o n i".split() #str - list
print(lst)


lst.sort()

print(lst)

##ascii

print(ord("a") , ord("A"))

['K', 'u', 'm', 'a', 'r', 'R', 'a', 'J', 'A', 'm', 'o', 'n', 'i']
['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
97 65

In [33]:
nums = [1,0,293,2983,262,2982]
nums.sort() #small - big

print(nums)

nums.sort(reverse=True) #True - Desc | False -- Asec

print(nums)

[0, 1, 262, 293, 2982, 2983]
[2983, 2982, 293, 262, 1, 0]

In [37]:
print(lst)

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']

In [38]:
# count() - display the occurence of a data element.

print(lst)

print(lst.count("a"))

print(lst.count("z"))

['A', 'J', 'K', 'R', 'a', 'a', 'i', 'm', 'm', 'n', 'o', 'r', 'u']
2
0

In [39]:
# index() - return the index number of a data element.

print(lst.index("a")) #return the fist index

4

In [40]:
print(lst.index("z"))

ValueError: 'z' is not in list

In [41]:
# clear()
nums = [10,203,40]
print(nums)
nums.clear()
print(nums)

[10, 203, 40]
[]

In [42]:
nums = [10,203,40]
print(nums)
del nums
print(nums)

[10, 203, 40]

NameError: name 'nums' is not defined

In [43]:
# copy()

copyVar = countries.copy()

print(copyVar)

print(id(copyVar) , id(countries))

['Finland', 'India', 'Indo', 'Pak', 'SPAIN', 'Sweden']
2019388188864 2019386681024

In [44]:
copyVar[0] = "SouthAfrica"

print(copyVar)
print(countries)

['SouthAfrica', 'India', 'Indo', 'Pak', 'SPAIN', 'Sweden']
['Finland', 'India', 'Indo', 'Pak', 'SPAIN', 'Sweden']

In [45]:
names = ["Meena","Avinash","Srikanth","Prakash"]

students = names #alias copying

print(id(names) , id(students))

students[0] = "Kumar"

print(names , students)

2019388178368 2019388178368
['Kumar', 'Avinash', 'Srikanth', 'Prakash'] ['Kumar', 'Avinash', 'Srikanth', 'Prakash']

### Tuple 
    - It's also collections and sequence & ordered data types
    - stores multiple items in a single variable.
    - declared with (ele1,ele2 ,ele3...)
    - INDEXING 
        - +VE : 0 - N-1
        - -VE : -1 - -N
    - Immutable : changes not allowed at indexing levels

In [46]:
planets = ('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') # planets

In [47]:
print(planets , type(planets))

('Earth', 'Jupiter', 'Neptune', 'Mars', 'Venus', 'Saturn', 'Uranus', 'Mercury') <class 'tuple'>

In [48]:
print(planets[2])

Neptune

In [49]:
print(planets[-1])

Mercury

In [50]:
print(planets[-100])

IndexError: tuple index out of range

In [51]:
planets[1] = "Pluto" #error

TypeError: 'tuple' object does not support item assignment

### tuple methods
    - count()
    - index()

In [52]:
print(dir(()))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
planets.count("Mars")

1

In [54]:
planets.count("Aplha")

0

In [55]:
planets.index("Earth")

0

In [56]:
planets.index("Pluto")

ValueError: tuple.index(x): x not in tuple

## Set 
    - It's Un-Ordered & Un-Indexed.
    - Doesn't store the duplicates.
    - declared with {}
    - No Indexing because of No Ordering.
    - Mutable

In [57]:
teams = {"Ind","Aus","Eng","Bang","Pak","Sa","Sa","Aus"}
print(teams)

{'Bang', 'Sa', 'Pak', 'Ind', 'Eng', 'Aus'}

In [58]:
print(teams[0]) #error set' object is not subscriptable

TypeError: 'set' object is not subscriptable

#### set methods
        'add', 'clear', 'copy', 'difference', 'difference_update', 
        'discard', 'intersection', 'intersection_update', 'isdisjoint', 
        'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
        'symmetric_difference_update', 'union', 'update'

In [59]:
print(dir(set()))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [60]:
print(teams)

{'Bang', 'Sa', 'Pak', 'Ind', 'Eng', 'Aus'}

In [61]:
teams.add("Zimb") #add data to the set.

In [62]:
print(teams)

{'Bang', 'Sa', 'Zimb', 'Pak', 'Ind', 'Eng', 'Aus'}

In [63]:
teams.discard("USA") #no element no  error 
print(teams)

{'Bang', 'Sa', 'Zimb', 'Pak', 'Ind', 'Eng', 'Aus'}

In [64]:
teams.remove("Bang") #no element will throw error
print(teams)

{'Sa', 'Zimb', 'Pak', 'Ind', 'Eng', 'Aus'}

In [65]:
teams.remove("USA") #raise Error if not a element
print(teams)

KeyError: 'USA'

In [67]:
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(x.difference(y))

{'amazon'}

In [68]:
#difference()
x = {"apple","google","amazon"}
y = {"netflix","google","apple"}

print(y.difference(x))

{'netflix'}

In [69]:
# union()

print(x.union(y))

print(x | y) #pipe symbol

{'amazon', 'netflix', 'apple', 'google'}
{'amazon', 'netflix', 'apple', 'google'}

In [70]:
# intersection
print(x.intersection(y)) #common elements

{'apple', 'google'}

In [71]:
print(x)

{'amazon', 'apple', 'google'}

In [75]:
print(x.pop())

KeyError: 'pop from an empty set'

In [ ]:
{}.pop()
[].pop()
{dict}.pop()

# raise a KeyError

In [77]:
a = {"iphone12","iphone13","iphone14"}
b = {"ipad9gen","ipadpro","microsoftSurface","iphone16"}

print(a.isdisjoint(b))

True

In [79]:
c = {"iphone13","iphone14"}

print(c.issubset(a))

True

In [80]:
# remove duplicate elements
lst = [10,20,30,20,20,30,20]

print(len(lst))

7

In [81]:
NoDupList = set(lst) #list -- set convertion

print(NoDupList , len(NoDupList))

{10, 20, 30} 3

In [82]:
seta = {10,20.2,"kumar",True,10+2j,None}

print(seta)

{True, 'kumar', None, 10, (10+2j), 20.2}

In [ ]:

studentName = []
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
studentName.append(input("enter student-name"))
print(studentName)

In [ ]:
studentName.insert(0,input("enter name"))

In [ ]:
print(studentName)

In [ ]:
studentName.extend(["John","Ganesh"])
print(studentName)

### Dictionary 
        - Based on key:value
		- Keys should be immutable and unique
			:: Immutable 	
					- str
					- tuple 
					- int , float , complex , boolean
        - Indexing is based on Keys
		##methods 
			- keys()
			- values()
			- items()
			- pop()
			- popitem()
			- update()
			- get()
            
        syntax:
            varName = {
                k1:v1,
                k2:v2,
                ...
                ...
                
                kn:vn
                }

In [84]:
team = {
    'cricketTeamName' : 'India',
    'Captain' : 'RS',
    'country' : 'India', 
    'year' : 2022, 
    'is_top20' : True,
    'Players' : ['Virat', 'Rohit', 'Bhu', 'Python'],
    'Captain' : "Virat"
    }

print(team , type(team))

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']} <class 'dict'>

In [85]:

print(type(10))

print(type("kumar"))

print(type([]))

print(type( () ))


print(type(set()))

print(type({}))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [86]:
team

{'cricketTeamName': 'India',
 'Captain': 'Virat',
 'country': 'India',
 'year': 2022,
 'is_top20': True,
 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [87]:
team[0]

KeyError: 0

In [90]:
team["Country"]

KeyError: 'Country'

In [91]:
print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [92]:
print(team['country'])

India

In [99]:
print(team["captain"])

KeyError: 'captain'

In [94]:
print(team["Players"])

['Virat', 'Rohit', 'Bhu', 'Python']

In [95]:
print(team['year'])

2022

### methods

In [100]:
#get()
print(team.get('score'))

None

In [98]:
print(team["score"]) #fastest

KeyError: 'score'

In [107]:
print(team.get("year","Key not found"))

2022

In [ ]:
["keyname"] --> always should be valid key otherwise raise keyerror
.get("keyname") --> if key is invalid it will print None or some text

In [109]:
#keys()

print(team.keys())

dict_keys(['cricketTeamName', 'Captain', 'country', 'year', 'is_top20', 'Players'])

In [110]:
#values()
print(team.values())

dict_values(['India', 'Virat', 'India', 2022, True, ['Virat', 'Rohit', 'Bhu', 'Python']])

In [111]:
#items() --[(K1,V1),(K2,V2)....] list of tuples


print(team.items())

dict_items([('cricketTeamName', 'India'), ('Captain', 'Virat'), ('country', 'India'), ('year', 2022), ('is_top20', True), ('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])])

In [112]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': 2022, 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [113]:
team.update({"year":"2023"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': '2023', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python']}

In [116]:
team.update({"score1":"100067"})

print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': '2023', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'score': '1000', 'score1': '100067'}

In [117]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'year': '2023', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'score': '1000', 'score1': '100067'}

In [119]:
res = team.pop("year")

print(res)

KeyError: 'year'

In [120]:
print(team)

{'cricketTeamName': 'India', 'Captain': 'Virat', 'country': 'India', 'is_top20': True, 'Players': ['Virat', 'Rohit', 'Bhu', 'Python'], 'score': '1000', 'score1': '100067'}

In [123]:
print(team.popitem()) #always remove last (k,v)

('Players', ['Virat', 'Rohit', 'Bhu', 'Python'])

In [ ]:
# get()
# items()
# keys()
# values()
# pop()
# popitem()
# update()


# NOTE:
    - U can't access invalied key --> Key Error.
    - U can't pop on invalid key --> Key Error.
    - U can't pop on empty dictionary
    - When you try to update invalid key --> it will create a new entry

In [ ]:
# LIST 
lst = [] 

# add india team name  and take input from keyboard.

lst.append(input("Enter the team Name"))

# add aus at 0 location
lst.insert(0,"AUS")

# add ENG , BAN at once at the end of the list
lst.extend(["ENG","BAN"])


# sort the data 

lst.sort()

lst.reverse()

print(lst)


print("index of india is", lst.index("AUS"))

In [ ]:
planets = ("Earth","Mars","Jupiter")

print(planets.count("Venues"))

print(planets.index("Mars"))

In [ ]:
names = {"monica","srinivas"} #mutable

names.add("kumar")

print(names)

In [1]:
studentName = {
    "name" :"Alex",
    "branch" : "IT",
    "college" : "ABC College",
    "fee" : 19283.3893,
    "isStudent" : True,
    "skills" : ["Web Dev","Java","Python"]
    
}

print(studentName)

{'name': 'Alex', 'branch': 'IT', 'college': 'ABC College', 'fee': 19283.3893, 'isStudent': True, 'skills': ['Web Dev', 'Java', 'Python']}

In [2]:
popped_val = studentName.pop("fee")
print(popped_val)

19283.3893

In [3]:
studentName

{'name': 'Alex',
 'branch': 'IT',
 'college': 'ABC College',
 'isStudent': True,
 'skills': ['Web Dev', 'Java', 'Python']}

In [4]:
studentName.popitem()

('skills', ['Web Dev', 'Java', 'Python'])

In [5]:
studentName

{'name': 'Alex', 'branch': 'IT', 'college': 'ABC College', 'isStudent': True}

In [ ]:
print(studentName["skills"])

In [ ]:
print(studentName["name"])

In [ ]:
print(studentName.get("shijkds","key not found"))

In [ ]:
print(studentName["country"])

## prebuild-functions

- In Python we have lots of built-in functions.
- Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring.
 > Some of the most commonly used Python built-in functions are the following: 
    -  print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().
    
  <img src = "https://s4scoding.com/images/python-built-in-functions.jpg" width= "700" height="800">

In [6]:
lst = [10,203,20]  

# print(dir(lst))

print(type(lst))

<class 'list'>

In [10]:
print(sum(lst))
print(max(lst))
print(min(lst))

233
203
10

In [11]:
print(help(lst))

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [12]:
##type()  id()

name = "Kumar"

print(type(name))

age = 10

print(type(age))

person = {"name":"Ram","course":"Python","collge":"ABC"}

print(type(person))


print(id(name) , id(age) , id(person))

<class 'str'>
<class 'int'>
<class 'dict'>
1518312715248 140705829038160 1518312059136

In [13]:
print(type("AK"))

print(type(10))

print(type("10"))

print(type(10.378683))

print(type(True))

print(type([10,203,30]))

print(type((10,203,30)))
      
print(type({10,203,30,30}))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
a = 10,20,304,40
print(type(a))

In [14]:
#dir()
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
#  sum()

marks = [10,20,30]

print(sum(marks))

60

In [17]:
#max() min()

print(max(marks))

print(min(marks))

30
10

In [21]:
#len() --> list tuple str set dict

print(len(marks))

print(len("Kumar      R"))


print(len(person))

print(len(10)) #error.

3
12
3

TypeError: object of type 'int' has no len()

In [ ]:
print(a)

In [22]:
print(ord("H"),ord("i"))

72 105

In [25]:
print(chr(97) , chr(105))

a i

In [26]:
a = int(input()) #str --> int
b = int(input())
print(a+b)

10
20
30

## Range
    - generate a sequence of integer values 
    - mainly used in for-loops
    - Has 3 params 
            - Start : 0
            - Stop : LEN-1
            - Step : 1
    - range() method gives a object , cast to list() or tuple() for displaying the output.
    - stop param is mandatory & always excluded.

In [ ]:
# range(start,stop,step)

In [27]:
a = range(1,10,1)
print(a)  #1,2 , 3 ...... 9

range(1, 10)

In [28]:
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print(range(1,5,1))

range(1, 5)

In [30]:
a = tuple(range(0,5,1))

print(a)

(0, 1, 2, 3, 4)

In [31]:
a = list(range(1,10,2))

print(a)

[1, 3, 5, 7, 9]

In [32]:
a = list(range(-1,-5,-1))

print(a)

[-1, -2, -3, -4]

In [33]:


a = list(range(5))


print(a)

[0, 1, 2, 3, 4]

In [34]:
a = list(range(1,2))

print(a)

[1]

In [35]:
a = list(range(0,20,2))

print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
a = list(range(1,20,2))

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
list(range())

TypeError: range expected 1 argument, got 0

In [38]:
list(range(1,1))

[]

In [ ]:
# next value < stop

In [39]:
list(range(-1,5,1))

[-1, 0, 1, 2, 3, 4]

In [40]:
list(range(-1,-5,1))

[]

### Casting
    - Converting one data type to another data type. 
    - We use int(), float(), str(), list(), set() 
    - When we do arithmetic operations string numbers should be first converted to int or float otherwise it will return an error. 
    - If we concatenate a number with a string, the number should be first converted to a string.

In [41]:
a = input()#reads a string type
b = input()
print(a+b) #string concat or merging

5
6
56

In [42]:
a = float(input()) #str - float
b = int(input()) # str - int
print(a+b)

6
7
13.0

In [43]:
name = "Srinivas"
print(name)
print("Iam ," , name)
print("my name is :  ", name)

Srinivas
Iam , Srinivas
my name is :   Srinivas

In [44]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10'
print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.0

# str to list
first_name = 'Kumar'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_int 10
num_float 10.0
Kumar
['K', 'u', 'm', 'a', 'r']

In [47]:
firstname = "A k n k a a d".split()

print(firstname)

['A', 'k', 'n', 'k', 'a', 'a', 'd']

In [46]:
name = "Kumar Python Tutor"

print(name.split())

['Kumar', 'Python', 'Tutor']

In [50]:
# str - int
stra = "10"

print(int(stra))

10

In [54]:
strb = "289892.282"

print(float(strb))

289892.282

In [55]:
#str - int "0-9"
# str - float "0.0 -9.9"

print(int(float("10.6")))

10

In [56]:
#  int , float , bool , complex - str

a = 10
aConvert = str(a)
print(type(aConvert))
b = 10.2367

print(type(str(b)))


c = True

print(str(c))


d = 10+2j

print(str(d))

<class 'str'>
<class 'str'>
True
(10+2j)

In [57]:
lst = [10,2,3,10,2]
print(lst)

convertList = set(lst)

print(convertList)

[10, 2, 3, 10, 2]
{3, 10, 2}

In [58]:
num =19200283083083083038030830839876386923093038
print(num)

19200283083083083038030830839876386923093038

In [ ]:
#  small task 
1. read 10 digit integer num from keyboard
    hint: int(input()) 
2. count number of zeros
3. if you don't find zero's print -1

ex: 10205678905
    op: 3 
    1234568791
    op: -1

In [60]:
# answer

# reading the input
number = int(input('any 10digit  number : '))
print(number)

# convertion int - str
number = str(number)

# appling the method
if number.count('0')>0:
    print("number of zeros : ",number.count('0'))
else:
    print(-1)

any 10digit  number : 1232452278
1232452278
-1

In [ ]:
num = 10209

num = str(num)
print(dir(num))

## Strings 
- group of individual or collections of characters
- strings are immutable in python
- Strings have indexing
      +ve : 0 - N-1
      -ve : -1 --> -N
- String supports slicing also.
- In Python Strings can be declared in 3 ways:
        - single quotes  'k'
        - double quotes   "dyamic programmic"
        - triple quotes (mainly used for multi-line strings)
            
      >Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types

In [61]:
print(type("Hello"))
"10"
"10.22"
"True"
print(type("[10,203,30]"))

# anything inside quotes is a string

<class 'str'>
<class 'str'>

#### Creating a String

In [65]:
letter = 'P'               # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1

greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13

sentence = "I hope you are enjoying  Python Course"
print(sentence)
print(len(sentence))

SyntaxError: EOL while scanning string literal (<ipython-input-65-3ae0586ebc0f>, line 9)

In [63]:
print(ord(" "))

32

In [64]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.'''
print(multiline_string)

# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created  python course.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created python course.

#### String Concatenation
        - We can connect strings together. Merging or connecting strings is called concatenation.

In [66]:
first_name = 'Helsinki'
last_name = 'Money Heist'
space = ' '
full_name = first_name  +  space + last_name
print(full_name) 
# Checking the length of a string using len() built-in function
print(len(first_name)) 
print(len(last_name))  
print(len(first_name) > len(last_name))
print(len(full_name))

Helsinki Money Heist
8
11
False
20

In [70]:
#Try this . 

print(first_name + " age  "+40)
# str + int -- Error

TypeError: can only concatenate str (not "int") to str

In [71]:
print("Hi "*10)
# str * int

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [72]:
print("Hi"*"Hello")

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# + both str's
#  * one str and one int

In [75]:
a=10
b=20
c=20
print(a,b,c)

10 20 20

In [76]:
print("Kumar","Rajamoni"*10)

Kumar RajamoniRajamoniRajamoniRajamoniRajamoniRajamoniRajamoniRajamoniRajamoniRajamoni

#### Escape Sequences in Strings
            In Python and other programming languages \ followed by a character is an escape sequence.

        \n: new line
        \t: Tab means(8 spaces)
        \\: Back slash
        \': Single quote (')
        \": Double quote (")

In [78]:
print("Hello \n Welcome to Srikanth's \t Home")

Hello
 Welcome to Srikanth's 	 Home

In [79]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1 \t2 \t8')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t6\t18')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1 	2 	8
Day 2	3	5
Day 3	3	5
Day 4	6	18
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

### String formatting
    In Python there are many ways of formatting strings.
    
    The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.number of digitsf".

        %s - String (or any object with a string representation, like numbers)
        %d - Integers
        %f - Floating point numbers
        "%.number of digitsf" - Floating point numbers with fixed precision

In [ ]:
# c syntax
int age = 29;
float salary = 29.28228773793;
printf("%d %f ",age,salary)

In [83]:
name = input("Enter name: ")
age = int(input("Enter the age: "))
salary = float(input("Enter salary: "))
print("my name is ",name, "age is ",age,"my salary is",salary) #normal 

print("my name is %s , age is %d , my salary is %.2f"%(name,age,salary)) #c based formatting

Enter name: kumar
Enter the age: 55
Enter salary: 82787.28982902
my name is  kumar age is  55 my salary is 82787.28982902
my name is kumar , age is 55 , my salary is 82787.29

In [84]:
# Strings only
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 10.283893
formated_string = 'I am %s %s. I teach %s and fee is %f' %(first_name, last_name, language,fee)
print(formated_string)

# Strings  and numbers
radius = 7
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string)


python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) #

I am Kumar R. I teach Python and fee is 10.283893
The area of circle with a radius 7 is 153.86.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

#### New Style String Formatting (str.format)

In [86]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000

print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+str(fee))

I am Kumar R. I Teach Pythonand fee is 12000

In [87]:
first_name = 'Kumar'
last_name = 'R'
language = 'Python'
fee = 12000
formated_string = 'I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee)
print(formated_string)


# print("I am "+first_name+" "+last_name+". "+"I Teach "+language+"and fee is "+fee)

a = 4
b = 3

print('{0} + {1} = {2}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Kumar R. I teach Python and fee is 12000
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

#### f-string

In [88]:
print("Iam %s %s. I Teach %s and fee is %d"%(first_name, last_name, language,fee))

Iam Kumar R. I Teach Python and fee is 12000

In [89]:
print('I am {} {}. I teach {} and fee is {}'.format(first_name, last_name, language,fee))

I am Kumar R. I teach Python and fee is 12000

In [90]:
print(f'I am {first_name} {last_name} I Teach {language} and fee is {fee}')

I am Kumar R I Teach Python and fee is 12000

In [92]:
name = "Kumar"
age =18

print(f'my name is {name} age is {age}')

my name is Kumar age is 18

In [93]:
#### Another new string formatting is string interpolation, f-strings. 
# Strings start with f and we can inject the data in their corresponding positions 
# supported from 3.6+

a = 4
b = 3
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [94]:
age = 19
print(f"my age is {age}")

my age is 19

In [95]:
name = "Alex"
print(name)
print(len(name))

print(name[0])

print(name[-1])
# print(name[10])

name[2] = "k"  #immutable

print(name)

Alex
4
A
x

TypeError: 'str' object does not support item assignment

### Accessing Characters in Strings by Index
    In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.
       strLang = "Python"
       
<img src="https://res.cloudinary.com/practicaldev/image/fetch/s--A7oqOWqx--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/1wr90mjnil60r7226bgq.png" width="400" height="400">

In [1]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P

second_letter = language[1]
print(second_letter) # y

last_index = len(language) - 1

last_letter = language[last_index]
print(last_letter) # n

P
y
n

In [2]:
language = 'Python'

last_letter = language[-1]
print(last_letter) # n

second_last = language[-2]
print(second_last) # o

n
o

In [3]:
print(language[6])

IndexError: string index out of range

#### Slicing Python Strings
    - Extracting specific data.
    syntax:
        [start:stop:step]
    - start : 0 (default)
    - stop : LEN-1
    - step : 1 
    
    negative:
         - start : -1 (default)
        - stop : -LEN-1
        - step : - 1 
    
    
    note: STOP is exculsive not included

In [4]:
name = "kumarRajamoni"

print(len(name))

print(name[0])

print(name[-1])

print(name[0:4:1])

print(name[:6])#[0:6:1]

print(name[2:]) #[2:len-1:1]

print(name[-1:-5:-2])

print(name[-1:-len(name)-1:-1])
print(name[::-1]) #start : -1 . stop: (-N-1)


print(name[::])#[0:LEN-1:1]

print(name)

13
k
i
kuma
kumarR
marRajamoni
io
inomajaRramuk
inomajaRramuk
kumarRajamoni
kumarRajamoni

In [12]:
lang = "Python"

print(lang[0])
print(lang[-1])

print(lang[0:4:1])

print(lang[-1:-4:-1])

print(lang[::2])

print(lang[2:])

print(lang[:3])

print(lang[:100])

print(lang[::-1])

print(lang[::1])

print(lang[::])

P
n
Pyth
noh
Pto
thon
Pyt
Python
nohtyP
Python
Python

In [13]:
print(name)
print(name[0:len(name):1])
print(name[::1])
print(name[0::])
print(name[:len(name)])

kumarRajamoni
kumarRajamoni
kumarRajamoni
kumarRajamoni
kumarRajamoni

In [14]:
print(name)
n = len(name)
print(n)
print(name[-1:-4:-1])

print(name[::-1])  # start -1 , stop : -N-1 step:-1

print(name[-1:(-n-1):-1])

kumarRajamoni
13
ino
inomajaRramuk
inomajaRramuk

In [15]:
marks = [10,203,30]

marks = marks[::-1]

print(marks)

[30, 203, 10]

In [16]:
name = "Kumar"
# for loop /while loop
# methods
# slicing

print(name[::-1]) #reverse


teamNames = ["india","Pak","Aus"]

print(teamNames[::-1])

ramuK
['Aus', 'Pak', 'india']

In [18]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt

last_three = language[3:6]
print(last_three) # hon
# Another way

last_three = language[-3:]
print(last_three)   # hon

last_three = language[3:]
print(last_three)   # hon

Pyt
hon
hon
hon

In [19]:
# Reversing a String
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

!dlroW ,olleH

In [20]:
print(dir({}))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [21]:
print(dir(""))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [22]:
print(help(""))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

### String Methods
  - **regular methods:**
    - capitalize()
    - count()
    - endswith()
    - startswith()
    - expandtabs() 
    - find()
    - rfind()
    - index()
    - rindex()
    - title()
    - replace()
    - upper()
    - lower()
        
- **checking methods:**
    - isalnum()
    - isalpha() 
    - isdecimal()
    - isdigit()
    - isnumeric()
    - isidentifier()
    - islower()
    - isupper()
        
- **covertion methods**
    - split() : str --> list
    - join()  : list --> str

In [24]:
# capitalize(): Converts the first character of the string to capital letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'
print(challenge)

Thirty days of python
thirty days of python

In [25]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..). 
# The start is a starting indexing for counting and end is the last index to count.

challenge = 'thirty days of python'

print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1, 
print(challenge.count('th')) # 2

3
1
2

In [26]:
print(challenge.count("z"))

0

In [27]:
# endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'

print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [48]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'

print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [62]:
challenge= "thirtydaysofpython"
print(len(challenge))

challenge = 'thirty\tdays\tof\tpython'
print(len(challenge))

print(len(challenge.expandtabs()),challenge.expandtabs())

print(len(challenge.expandtabs(10)),challenge.expandtabs(10))

18
21
30 thirty  days    of      python
36 thirty    days      of        python

In [29]:
# find(): Returns the index of the first occurrence of a substring, if not found returns -1


challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [30]:
print(challenge.find("z"))

# task 
# find lastIndex of a character

-1

In [31]:
# rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

challenge = 'thirty days of python'
print(challenge.rfind('y'))  # 16
print(challenge.rfind('th')) # 17

16
17

In [ ]:
discard() - Nothing
remove() - If ele not there , raise Error


find() , if ele/char/sub is not there --> -1
index()  , if ele/charsub is not there ---->Error.

In [32]:
# index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). 
# If the substring is not found it raises a valueError.

challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.find("y"))
print(challenge.index('y'))  # 7
print(challenge.index(sub_string)) #error

5
5
7

In [35]:
print(challenge.index("k"))

ValueError: substring not found

In [43]:
# rindex(): Returns the highest index of a substring, additional arguments indicate 
# starting and ending index (default 0 and string length - 1)

challenge = 'thirty days of python'
sub_string = 'da'

print(challenge.rindex(sub_string))  # 8
print(challenge.rindex("y")) # error

7
16

In [ ]:
find()
rfind() ---> Returns highest index of a sub/charcter

index()
rindex()  --> Returns highest index of a sub/charcter

In [48]:
challenge = 'thirty days of python'

print(challenge.index("y"))

print(challenge.rindex("y"))


print(challenge.find("y"))

print(challenge.rfind("y"))


print(challenge.index("y",0,6))

print(challenge.rindex("y",0,6))


print(challenge.find("y",0,6))

print(challenge.rfind("y",0,6))

5
16
5
16
5
5
5
5

In [49]:
# title(): Returns a title cased string

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [50]:
# swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON

challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [51]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [82]:
# strip(): Removes all given characters starting from the beginning and end of the string

name = "        Kumar            "

print( len(name) )

name = name.strip()
print( len(name) )


challenge = 'thirty days of pythoonnn'
print(challenge.strip('python')) # 'irty days of py'

25
5
irty days of

In [57]:
# replace(): Replaces substring with a given string

challenge = 'I Like to code In Python'
print(challenge.replace('Scala', 'Java')) # 'thirty days of coding'

I Like to code In Python

In [58]:
# upper 

challenge = 'I Like to code In Python' 

print(challenge.upper())


challenge = "i LIKE to CODE ruby"

print(challenge.lower())


print(challenge.title())

print(challenge.swapcase())

I LIKE TO CODE IN PYTHON
i like to code ruby
I Like To Code Ruby
I like TO code RUBY

In [ ]:
# checking methods --> True/False
    - validation

In [ ]:
'a'
"10"
"10.2"
"Kumar@123"

always starts is keyword ---> True/False

In [59]:
# isalnum(): Checks alphanumeric character(a-zA-Z 0-9)

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [60]:
# isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded

challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True

num = '123akkak'
print(num.isalpha())      # False

False
True
False

In [61]:
# isdecimal(): Checks if all characters in a string are decimal (0-9)

challenge = 'thirty days of python'
print(challenge.isdecimal())  # False

challenge = '123'
print(challenge.isdecimal())  # True

challenge = '\u00B2'
print(challenge.isdigit())   # False

challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

In [62]:
# isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

challenge = 'Thirty'
print(challenge.isdigit()) # False

challenge = '30'
print(challenge.isdigit())   # True

challenge = '\u00B2'
print(challenge.isdigit())   # True

False
True
True

In [ ]:
special_char = " !@#$%^&*(){}[]"

In [63]:
# isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

num = '10'
print(num.isnumeric()) # True

num = '\u00BD' # ½
print(num.isnumeric()) # True

num = '10.5'
print(num.isnumeric()) # False

True
True
False

In [64]:
VARIABLS_RULES
=======================
1. starts with letters or _ 
2. can't start with numbers
3. No keywords 
4. we can have combination of alpha+numeric+_
5. case sensitive

NameError: name 'VARIABLS_RULES' is not defined

In [65]:
# isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number

challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [66]:
print("*3Java_version".isidentifier())

False

In [67]:
# islower(): Checks if all alphabet characters in the string are lowercase

# isupper(): Checks if all alphabet characters in the string are uppercase


challenge = 'string methods'
print(challenge.islower()) # True

challenge = 'MetaVerse'
print(challenge.islower()) # False


challenge = 'Python Is OOPs Lang'
print(challenge.isupper()) #  False

challenge = 'PYTHON VERSION'
print(challenge.isupper()) # True

True
False
False
True

In [72]:
# split(): Splits the string, using given string or space as a separator

challenge = 'python is interprted functional scripting language'
print(challenge.split()) #str - list

challenge = 'current,version,of,python,3.11'
print(challenge.split(',')) #str --list

['python', 'is', 'interprted', 'functional', 'scripting', 'language']
['current', 'version', 'of', 'python', '3.11']

In [77]:
name = "Kumar Rajamoni"

print(name.split())

name = "A l e x"
print(name.split())

['Kumar', 'Rajamoni']
['A', 'l', 'e', 'x']

In [78]:
# read mutliple integers using input method

a = int(input())
print(a)

10
10

In [82]:
numbers = input()
print(numbers)
print(type(numbers))

10 20 30 40
10 20 30 40
<class 'str'>

In [84]:
print(numbers[0:2])

10

In [ ]:
"10 203 30"[0:2]

In [85]:
lstNum = numbers.split()
print(lstNum)
print(lstNum[2])

['10', '20', '30', '40']
30

In [89]:
integerNum = input().split()

print(integerNum)

20 30
['20', '30']

In [90]:
even= [] 
for i in range(0,10,2):
    even.append(i)
    
print(even)

[0, 2, 4, 6, 8]

In [92]:
lstNum = input().split()

print(lstNum)

10 20 30
['10', '20', '30']

In [91]:
integerNum =  map(int,input().split())

integerNum = list(integerNum)
print(integerNum)

10 20 30
[10, 20, 30]

In [ ]:
syntax:
    varName = map(fun,iterable)
    fun : int , float , bool
    iterable: list or tuple

In [105]:
integerNum =  list(map(float,input().split()))#map(fun,iterable)--- return map object


print(integerNum)

10 20 30 40 40
[10.0, 20.0, 30.0, 40.0, 40.0]

In [104]:
# basic way
lst = []
for i in range(3):
    lst.append(int(input()))

10
20
30

In [ ]:
### basic way using lst indexing
lst = [0]*3
print(lst)
for i in range(3):
    lst[i] = int(input())
print(lst)

In [101]:
lst = []
lst[0] = 10

IndexError: list assignment index out of range

In [97]:
print(lst)

[10, 20, 20]

In [107]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = ' '.join(web_tech) #list -- str
print(result)

HTML CSS JavaScript React

In [108]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
 
result = '-->'.join(web_tech) #list -- str
print(result)

HTML-->CSS-->JavaScript-->React

In [ ]:
# Try to do revese of a String
    note: don't apply slicing

### Operators 
    - Python language supports several types of operators
    - Operator is symbol which applies on operands 
        ex: a + b ==> a, b operands , + : operator.
        
### Assignment Operators.
        Assignment operators are used to assign values to variables
  
  <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/assignment-operator-in-python.png" height="600" width="600">

In [ ]:
price = 12

# increase 2rs 
price = price + 2

# decrease 5 rs
price = price - 5 


print(price)

In [ ]:
price = 12

# increase 2rs 
price += 2 #price = price+2

# decrease 5 
price -= 5  #price = price - 5


print(price)

### Arithmetic Operators:
    - Used to perform arthimetic & mathmatical operations.
    Addition(+): a + b
    Subtraction(-): a - b
    Multiplication(*): a * b
    Division(/): a / b
    Modulus(%): a % b
    Floor division(//): a // b
    Exponentiation(**): a ** b
    
<img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/arithmetic-operation-in-python.png" height="700" width="700">

In [1]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 1 + 2)        # 3
print('Subtraction: ', 2 - 1)     # 1
print('Multiplication: ', 2 * 3)  # 6
print ('Division: ', 4 / 2)       # 2.0  Division in Python gives floating number
print('Division: ', 6 / 2)        # 3.0         
print('Division: ', 7 / 2)        # 3.5
print('Division without the remainder: ', 7 // 2)   # 3,  gives without the floating number or without the remaining
print ('Division without the remainder: ',7 // 3)   # 2
print('Modulus: ', 3 % 2)         # 1, Gives the remainder
print('Exponentiation: ', 2 ** 3) # 8 it means 2 * 2 * 2

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Division without the remainder:  2
Modulus:  1
Exponentiation:  8

In [ ]:
# TASK 
How negative modulus 
How negtaive // integer division.

will work?

In [2]:
print(10%3) # 10 = 3*3+1
print(5%2) # 5 = 2*2+1

1
1

In [3]:
print(-5%2)

1

In [4]:
print(-10%3)

2

In [5]:
print(10//3)
print(5//2)

3
2

In [6]:
print(-10//3)
print(-5//2)

-4
-3

In [7]:
# Floating numbers
print('Floating Point Number, PI', 3.14)
print('Floating Point Number, gravity', 9.81)

Floating Point Number, PI 3.14
Floating Point Number, gravity 9.81

In [8]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex numbers: ',(1 + 1j) * (1 - 1j))

Complex number:  (1+1j)
Multiplying complex numbers:  (2+0j)

In [9]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [10]:
print(0/10)  #0/anything --> 0

print(20/0) #anything/0 ---> undefined

0.0

ZeroDivisionError: division by zero

In [ ]:
print(10%3)

print(25%2)

print(4%4)

print(50%100)

print(10%0)

In [ ]:
# NOTE : 
1. Numerator<Demo ---> Answer is Numerator
2. Numerator == Demo --> 0
3. Numerator> Demo (get remainder doing division method)
4. Demo == 0 --> Raise Error

In [11]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')                         # Adding unit to the weight

# Calculate the density of a liquid
mass = 75 # in Kg
volume = 0.075 # in cubic meter
density = mass / volume # 1000 Kg/m^3

print(density)

Area of a circle: 314.0
Area of rectangle: 200
735.75 N
1000.0

### Comparison Operators
        - comparison operators to compare two values. We check if a value is greater or less or equal to other value. 
        - Result is always Either True or False
        - Can be used to compare Values & Objects
        - can be applied on integers , floats , strings
        
 <img src = "https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="700" height="700">

In [12]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2


print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True

In [ ]:
1. = is used for assignment 
ex: varName = value 

2. == is used for comparision 
ex: 10 ==12

In [13]:
print(10.2>6.5)

True

In [14]:
print('a'>'A')

True

In [15]:

print(ord('a') , ord('A'))

97 65

### Identity Operator 
        is: Returns true if both variables are the same object(x is y)
        is not: Returns true if both variables are not the same object(x is not y)
    
### MemberShip Opeator
        in: Returns True if the queried list contains a certain item(x in y)
        not in: Returns True if the queried list doesn't have a certain item(x not in y)

In [16]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-c9a4367e925a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
<ipython-input-16-c9a4367e925a>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
<ipython-input-16-c9a4367e925a>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [18]:
a = 10
b = 10 
print(a is b)
print(a is not b)

print(id(a) , id(b))
b +=2
print(id(a) , id(b))


c = 30
d = 56

print(c is d)
print(c is not d)

print(id(c) , id(d))

True
False
140706809849936 140706809849936
140706809849936 140706809850000
False
True
140706809850576 140706809851408

In [17]:
a = 10 
b = 10

del a
print(b)

10

In [21]:
a = [10,20,30]
b = [10,20,30]

print(a is b)
print(id(a), id(b))

False
2501638970048 2501638943296

In [19]:
print("Kumar" in "KUmar rajamoni")

False

In [22]:
print(10 in [10,20,304,20])
print(100 not in [10,20,304,20,100])

True
False

In [23]:
print("age" in {"name":"John","age":30})
# in operator on dictionary will search only keys

True

### Logical Operators
    Logical operators are used to combine conditional statements:
<img src = "https://1.bp.blogspot.com/-k27I3cNB6zE/XYTAZv3C07I/AAAAAAAAAy0/KobVTHHhCJUVpg7D19HhI4ddrh0IU5GKgCLcBGAsYHQ/s1600/LogicalOperators.png" height="600" width="600" >

In [24]:
print(type("Kumar"))


print(type(["Kumar","Rajamoni"]))

<class 'str'>
<class 'list'>

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [26]:
#login application 

database = {"username":"kumar","passwd":"kumar123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

Enter the username: kumar
Enter the passsword: kumar123
Login Success

###  Bitwise 

    Bitwise operator is used to compare the Binary bits 

    Operator 	Name 	Description

    (& ) 	AND 	Sets each bit to 1 if both bits are 1

    (|) 	OR 	Sets each bit to 1 if one of two bits is 1

     (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0

    (~ ) 	NOT 	Inverts all the bits (only for not operand)

    A  B     AND  OR  NOT XOR
    0 0     0    0     1    0
    0 1     0    1     1    1
    1 0     0    1     0    1
    1 1     1    1     0    0

In [ ]:
    
print(bin(25))

In [ ]:
#representing
# 8 bit (0-255)

#table 

loations : 7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

values :   128 |64 |32 |16| 8 | 4 | 2  |1    min =0 max = 255

In [27]:
# bin() -- gives binary notation value of decimal no.
print(bin(69))
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

0b1000101
0b10100
0b100101
0b111001
0b11011110

In [28]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
## AND 000

## OR 111

##EXOR 111

## NOT 100

print(a & b)

print(a | b)

print(a ^ b)

#sign bit 

#0 -ve
#1 +ve

0
7
7

In [29]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

0b11
-4

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [30]:
print(10//(2**2))

2

In [31]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100 = 20

# after shifting 1 bit to the left

#00010100 =>20

40

In [32]:
print(10*(2**2))

40

In [33]:
exp = 10 -20*2
print(exp)

-30

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
        This is used in an expression with more than one operator with different precedence to determine which operation to perform first


<img src = "https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

In [ ]:
print(10+20*30/10)

In [ ]:
a = (10+20) * 30/10

print(a)

In [ ]:
a =  2+3*8/2-10**4%2//10

print(a)

In [35]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [37]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
        It can either be Left to Right or from Right to Left.

In [38]:
print(200 / 10 * 10)

200.0

In [39]:
print(5 - 2 + 3)

6

In [40]:
#right to left
print(2 ** 3 ** 2)

512

### doubts

In [42]:
a = 10
b = 10
print(a is b)
del a 
print(b)

True
10

In [46]:
a=10
c = a

# print(a is c)
del a

print(c)
print(a)

10

NameError: name 'a' is not defined

In [48]:
lst = [10,20]

lst2 = lst
print(lst)

del lst
print(lst2)
print(lst)

[10, 20]
[10, 20]

NameError: name 'lst' is not defined

In [50]:
a = 10+2j

b = str(a)

print(b,type(b))
print(b[0])

(10+2j) <class 'str'>
(

In [51]:
name = "Kumar"

print(name)

KUmar

In [53]:
print(str(a),type(a))

(10+2j) <class 'complex'>

In [54]:
a = str(a)

print(a,type(a))

(10+2j) <class 'str'>

In [5]:
name = "Ravi"

print(name[0:])
print(name[-1:])

Ravi
vi

In [19]:
language = "Python OOP's"

print(len(language))
last_three = language[-3::-1]
print(last_three)
print(language[12])

12
POO nohtyP

IndexError: string index out of range

In [21]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
print(last_three)

P's

In [26]:
for i in range(0,len(language),1):
    print(i,language[i])

0 P
1 y
2 t
3 h
4 o
5 n
6
7 O
8 O
9 P
10 '
11 s

In [34]:
name = "Ravi Teja"

print(name.find("z"))
print(name.rfind("z"))

-1
-1

In [64]:
name = "Ravi Teja"

print(name.index("vi",2))
print(name.rindex("a"))

2
8

In [47]:
a = 4
b = 3
print('{1} + {0} = {2}'.format(a, b, a + b,a-b,a*b,a/b))

3 + 4 = 7

In [68]:
sub_string = "vi"
print(name.index(sub_string,3)) #error

ValueError: substring not found

In [73]:
challenge = '\u00A3'
print(challenge)
print(challenge.isdigit())   # True

£
False

In [77]:
name = "Rav      Teja"
print(name.strip("v"))
print(len(name))
print(len(name.strip()))

Rav      Teja
13
13

In [79]:
name = "Kumar Rajamoni"
print(name.strip("K"))

umar Rajamoni

In [ ]:
1. expandstab()

In [99]:
name = "Ravi".split()

In [100]:
print(name)
name.reverse()
print(name)

['Ravi']
['Ravi']

In [98]:
print("".join(name))

ivaR

In [107]:
name = "Radha"

print(reversed(name))
print("".join(reversed(name)))

<reversed object at 0x0000027F9AF8F100>
ahdaR

In [109]:
dup = ""

for i in range(0,len(name)):
    dup=name[i]+dup
print(dup)

ahdaR

In [ ]:
""+"R" --> "R"
"a"+"R" -->"aR"
"d"+"aR" -->"daR"
"h"+"daR"--> "hdaR"